<!-- COMFORT LEVELS -->
<div class="comfortlevels page">

    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="container">
            <div class="upper">
                <ul>
                    <a href="#"><li>Our Company</li></a>
                    <a href="#"><li>Request Brochure</li></a>
                    <a href="#"><li>Reviews</li></a>
                    <a href="#"><li>Contact</li></a>
                    <a class="bold" href="#"><li><span class="phone-icon"></span>1-877-672-2882</li></a>
                </ul>
            </hr>
            </div> <!-- upper navigation-->
            <div class="lower">
                <a href="/homepage"><div class="logo"></div></a>
                <ul>
                    <a href="/ourmattress"><li>Our Mattress</li></a>
                    <a class="active" href="/comfortlevels"><li>Comfort Levels</li></a>
                    <a href="/whychooseus"><li>Why Choose Us</li></a>
                    <a href="/greenandlocal"><li>Green & Local</li></a>
                    <a href="/healthandcooling"><li>Health & Cooling</li></a>
                    <a class="shop" href="/shop"><li><span class="cart-icon"></span>Shop Now</li></a>
                </ul>
            </div> <!-- lower navigation-->
        </div>
    </div> <!-- navigation -->


    <!-- HERO SECTION -->
    <div class="hero">
        <div class="container">
            <h1>Cool and comfortable sleep, all night long.</h1>
            <p>Choose from two comfort levels</p>
            <div class="button"><a href="#">Relaxed Firm</a></div>
            <div class="button"><a href="#">Firm</a></div>
        </div> <!-- container -->
        <div class="firmscale">
            <div class="container">
                <div class="relaxedfirm">
                    <h3>Loom & Leaf Relaxed Firm</h3>
                    <p>Our flagship comfort level. The sweet spot between not too hard and not too soft, for that "just right" feel.</p>
                </div>
                <div class="firm">
                    <h3>Loom & Leaf Firm</h3>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <span class="firmscale-image"></span>
            </div> <!-- container -->
        </div><!-- firmscale -->
    </div> <!-- hero -->


    <!-- SLEEP POSITIONS -->
    <div class="sleep-positions">
        <div class="container">
            <h2>Easy Dreaming</h2>
            <span class="position-image"></span>
            <p>Bring on the night. Both of our firmness levels reshape to fit your unique body size and snuggle style, working in complete union with the memory foam, spinal gel and the dual layer support to evenly balance your weight and alleviate tension and strain. Just remember to invite the pillows and the sheets.</p>
        </div> <!-- container -->
    </div> <!-- sleep-positions -->


    <!-- FIRM COMPARISON -->
    <div class="firm-comparison">
        <div class="left">
            <div class="container">
                <h3>Loom & Leaf Relaxed Firm</h3>
                <p>This is our flagship firmness. For those who prefer not too hard, not too soft, but best of both worlds, a precise middle ground to meet half way. It's a perfect fit for the active sleeper, chopping and shifting through the night, or sleeping on your side, back or stomach.</p>
                <div class="button"><a href="#">Choose Relaxed Firm</a></div>
            </div><!-- container -->
        </div><!-- left -->
        <div class="right">
            <div class="container">
                <h3>Loom & Leaf Firm</h3>
                <p>For our customers who prefer a more solid and structured support or if you've been recommended a firmer mattress by your health care professional. The Loom & Leaf firm mattress is also a preference for back or stomach sleepers.</p>
                <div class="button"><a href="#">Choose Firm</a></div>
            </div><!-- container -->
        </div><!-- right -->
        <div class="photo-separator"></div>
        <div class="left">
            <div class="container">
                <span class="quote-icon"></span>
                <h3>Believers in Relaxed Firm</h3>
                <p>The Loom & Leaf memory foam bed is crafted by Saatva. Saatva built it's reputation by being the best reviewed inner-spring mattress on google. For us, every customer is our best customer.</p>
                <p class="bold">John Smith</p>
                <p>New York State</p>
            </div> <!-- container -->
        </div> <!-- left -->
        <div class="right">
            <div class="container">
                <span class="quote-icon"></span>
                <h3>Believers in Firm</h3>
                <p>The Loom & Leaf memory foam bed is crafted by Saatva. Saatva built it's reputation by being the best reviewed inner-spring mattress on google. For us, every customer is our best customer.</p>
                <p class="bold">John Smith</p>
                <p>New York State</p>
            </div> <!-- container -->
        </div> <!-- right -->
    </div> <!-- firm comparison -->


    <!-- 45-DAY-TRIAL -->
    <div class="45-trial">
        <h1>45 Day Trial</h1>
        <p>Why lie for 5-minutes when you can snooze for over three hundred hours? Experience 45 days of bliss, with the friendliest take home test in the business. Catch your REM sleep, risk-free.</p>
        <div class="button"><a href="#">SHOW NOW</a></div>
    </div> <!-- 45-trial -->


    <!-- FOOTER -->
    <div class="footer">
        <p>For inquiries, call us on <div class="bold">877-672-2882</div> or email <div class="bold">info@loomandleaf.com</div></p>
        <p>Office hours: <div class="bold">Monday - Friday, 9:00 am - 6:00 pm. EST</div></p>
        <div class="icon-row">
            <div class="twitter"></div><div class="facebook"></div><div class="instagram"></div>
        </div>
    </div> <!-- footer -->

</div>