<!-- COMFORT LEVELS -->
<div class="comfortlevels page">

    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="upper">
            <ul>
                <a href="#"><li>Our Company</li></a>
                <a href="#"><li>Request Brochure</li></a>
                <a href="#"><li>Reviews</li></a>
                <a href="#"><li>Contact</li></a>
                <li><span class="phone-icon"></span>1-877-672-2882</li>
            </ul>
        </div> <!-- upper navigation-->
        <div class="lower">
            <a href="/homepage"><div class="logo"></div></a>
            <ul>
                <a href="/ourmattress"><li>Our Mattress</li></a>
                <a href="/comfortlevels"><li class="active">Comfort Levels</li></a>
                <a href="#"><li>Why Choose Us</li></a>
                <a href="#"><li>Green & Local</li></a>
                <a href="/healthandcooling"><li>Health & Cooling</li></a>
                <a href="#"><li><span class="cart-icon"></span>Shop Now</li></a>
            </ul>
        </div> <!-- lower navigation-->
    </div> <!-- navigation -->

</div>