<!-- COMFORT LEVELS -->
<div class="comfortlevels page">

    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="container">
            <div class="upper">
                <ul>
                    <a href="/ourcompany"><li>Our Company</li></a>
                    <a href="/requestbrochure"><li>Request Brochure</li></a>
                    <a href="/reviews"><li>Reviews</li></a>
                    <a href="/contact"><li>Contact</li></a>
                </ul>
            </hr>
            </div> <!-- upper navigation-->
            <div class="phone">
                <a href="tel:877-672-2882" class="bold phone">
                    <img class="phone-icon" src="/images/img_phone.png">1-877-762-2882
                </a>
            </div>
            <div class="lower">
                <a href="/"><img class="logo" src="/images/logo.png"></a>
                <ul>
                    <a href="/ourmattress"><li>Our luxury mattress</li></a>
                    <a class="active" href="/comfortlevels"><li>Comfort levels</li></a>
                    <a href="/whychooseus"><li>The L&L way</li></a>
                    <a href="/greenandlocal"><li>Green & local</li></a>
                    <a href="/healthandcooling"><li>Health & cooling</li></a>
                    <a class="shop" href="/checkout"><li><img class="cart-icon" src="/images/img_shoppingcart.png">SHOP NOW</li></a>
                </ul>
            </div> <!-- lower navigation-->
        </div>
    </div> <!-- navigation -->
    <div class="ashamed-nav"></div>

    <!-- MOBILE NAVIGATION -->
    <div class="mobile-navigation">
      <div class="logo"><img class="logo" src="/images/logo.png"></div>
      <div id="hamburger-container"><img id="hamburger-button" src="/images/hamburger.png"></div>
      <ul id="mobile-nav">
        <a href="/"><li>Home</li></a>
        <a href="/ourmattress"><li>Our luxury mattress</li></a>
        <a class="active" href="/comfortlevels"><li>Comfort levels</li></a>
        <a href="/whychooseus"><li>The L&L way</li></a>
        <a href="/greenandlocal"><li>Green & local</li></a>
        <a href="/healthandcooling"><li>Health & cooling</li></a>
        <a class="shop" href="/checkout"><li>SHOP NOW</li></a>
        <a href="/ourcompany"><li>Our Company</li></a>
        <a href="/requestbrochure"><li>Request Brochure</li></a>
        <a href="/reviews"><li>Reviews</li></a>
        <a href="/contact"><li>Contact</li></a>
        <a class="bold" href="#"><li>1-877-762-2882</li></a>
      </ul>
    </div>
    <div class="ashamed-nav-mobile"></div>


    <!-- HERO SECTION -->
    <div class="hero">
        <div class="container">
            <h1>Let's dream again</h1>
            <p>Introducing two redesigned comfort levels</p>
            <div class="button-row">
                <div class="button left"><a href="/checkout">Relaxed Firm</a></div>
                <div class="button right"><a href="/checkout">Firm</a></div>
            </div>
        </div> <!-- container -->
        <div class="firmscale">
            <div class="container">
                <h3>Choose your comfort level</h3>
                <p class="subheader">We developed two perfect firmness levels offering the very best in healthy comfort for ultra-luxurious memory foam.</p>
                <div id="relaxedfirm-snippet">
                    <h3>Loom & Leaf Relaxed Firm</h3>
                    <p>Our flagship comfort level: not too hard, not too soft — a perfect medium, best of both worlds feel.</p>
                </div>
                <div id="firm-snippet">
                    <h3>Loom & Leaf Firm</h3>
                    <p>For those who prefer a very firm feel; optimal for back support.</p>
                </div>
                <span class="firmscale-image"></span>
                <div class="firmscale-container non-hover">
                    <ul>
                        <li>Softest</li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li class="relaxed-firm"></li>
                        <li class="relaxed-firm"></li>
                        <li class="relaxed-firm"></li>
                        <li class="firm"></li>
                        <li class="firm"></li>
                        <li></li>
                        <li>Firmest</li>
                    </ul>
                    <p class="directions">RECOMMENDED SLEEP ZONE</p>
                </div>
            </div> <!-- container -->
        </div><!-- firmscale -->
    </div> <!-- hero -->


    <!-- SLEEP POSITIONS -->
    <div class="sleep-positions">
        <div class="container">
            <h2>Take your sleep back</h2>
            <!-- <span class="position-image"></span> -->
            <div class="img-container">
                <img class="position-image" src="/images/icons_comfort_positions.png">
            </div>
            <p>Loom & Leaf is designed with the leading plant-based foam and the latest sleep technology to provide maximum sleep wellness. You’ll experience contouring support, even weight distribution, pressure point relief, spinal alignment and improved circulation. Rejuvenated energy for all ages and full body relief for everyone.</p>
        </div> <!-- container -->
    </div> <!-- sleep-positions -->


    <!-- FIRM COMPARISON -->
    <div class="firm-comparison">
        <div class="left">
            <div class="container">
                <h3>Loom & Leaf Relaxed Firm</h3>
                <p>This is our flagship comfort level — a happy medium between not too hard and not too soft. For our customers who enjoy a just-right feel, or: if you prefer to sleep on your side, back or stomach, and you toss and turn throughout the night.</p>
                <div class="button"><a href="/checkout">Choose Relaxed Firm</a></div>
            </div><!-- container -->
        </div><!-- left -->
        <div class="right">
            <div class="container">
                <h3>Loom & Leaf Firm</h3>
                <p>This is our “Doctor’s recommended” firmness level. For our customers who prefer a very firm feel for optimal back support. As well as for those back or stomach, one-sided sleepers.</p>
                <div class="button"><a href="/checkout">Choose Firm</a></div>
            </div><!-- container -->
        </div><!-- right -->
    </div>
    <div class="photo-separator"></div>
    <div class="firm-comparison quotes">
        <div class="left">
            <div class="container">
                <span class="quote-icon"></span>
                <h3>Believers in Relaxed Firm</h3>
                <p>I’m a side sleeper so mattresses that are too firm causes problems. Too soft and I wake up sweating in a soft hole too deep to roll out of. This mattress hits that sweet spot right in the middle for me. Supportive but not constricting. No waking up in a hole. No more sore spine in the morning. I have tolerated a lot in past mattresses, thinking this happy place didn't truly exist...but here it is!</p>
                <p class="bold">Darry P.</p>
                <p>New York State</p>
            </div> <!-- container -->
        </div> <!-- left -->
        <div class="right">
            <div class="container">
                <span class="quote-icon"></span>
                <h3>Believers in Firm</h3>
                <p>It was firmer than what I was previously sleeping on, but I quickly became comfortable with this mattress. I am more relaxed at night and can tell that I am sleeping longer. When I wake in the morning, I no longer have the lower back pain and stiffness I had in the past. I truly am enjoying my sleep experience on the Loom & Leaf mattress and will definitely recommend it.</p>
                <p class="bold">Tom H. | Davenport, Iowa</p>
                <p>New York State</p>
            </div> <!-- container -->
        </div> <!-- right -->
    </div> <!-- firm comparison -->


    <!-- 45-DAY-TRIAL -->
    <div class="fortyfive-trial">
        <div class="container">
            <h1>75 day trial</h1>
            <p>Experience 75 days of bliss. Over 600 hours of life changing snooze time, risk- free.</p>
            <div class="button"><a href="/checkout">SHOP NOW</a></div>
        </div>
    </div> <!-- 45-trial -->


    <!-- FOOTER -->
    <div class="footer">
        <div class="container">
            <p>For inquiries, call us on <span class="bold"> 877-762-2882</span> or email <div class="bold">info@loomandleaf.com</div></p>
            </br>
            <p>Office hours: <span class="bold">Monday - Friday, 9:00 am - 6:00 pm. EST</span></p>
            <div class="icon-row">
                <a class="linkedin" href="https://www.linkedin.com/company/9296695?trk=tyah&trkInfo=idx%3A2-1-6%2CtarId%3A1424810297152%2Ctas%3Aloom%26l"><img src="/images/icon_footer_linkedin.png"></a>
                <a class="youtube" href="https://www.youtube.com/channel/UCnQxToaUgcP2qnTgRVR6vTQ"><img src="/images/icon_footer_tube.png"></a>
                <a class="gplus"href="https://plus.google.com/u/0/b/104213153584601037100/104213153584601037100/about"><img src="/images/icon_footer_plus.png"></a>
                <a class="twitter" href="https://twitter.com/LoomAndLeaf"><img src="/images/icon_footer_twitter.png"></a>
                <a class="facebook" href="https://www.facebook.com/pages/LoomLeaf/810500152377742?ref=hl"><img src="/images/icon_footer_facebook.png"></a>
                <a class="instagram" href="https://instagram.com/loomandleaf/"><img src="/images/icon_footer_instagram.png"></a>
                <a class="pinterest" href="https://www.pinterest.com/loomandleaf/"><img src="/images/icon_footer_pinterest.png"></a>
            </div>
        </div> <!-- container -->
    </div> <!-- footer -->

</div>