<!-- GREEN AND LOCAL -->
<div class="greenandlocal page">

    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="container">
            <div class="upper">
                <ul>
                    <a href="/ourcompany"><li>Our Company</li></a>
                    <a href="/requestbrochure"><li>Request Brochure</li></a>
                    <a href="/reviews"><li>Reviews</li></a>
                    <a href="/contact"><li>Contact</li></a>
                    <a href="tel:877-672-2882" class="bold" href="#"><li><img class="phone-icon" src="/images/img_phone.png">1-877-672-2882</li></a>
                </ul>
            </hr>
            </div> <!-- upper navigation-->
            <div class="lower">
                <a href="/"><img class="logo" src="/images/logo.png"></a>
                <ul>
                    <a href="/ourmattress"><li>Our luxury mattress</li></a>
                    <a href="/comfortlevels"><li>Comfort levels</li></a>
                    <a href="/whychooseus"><li>The L&L way</li></a>
                    <a class="active" href="/greenandlocal"><li>Green & local</li></a>
                    <a href="/healthandcooling"><li>Health & cooling</li></a>
                    <a class="shop" href="/checkout"><li><img class="cart-icon" src="/images/img_shoppingcart.png">SHOP NOW</li></a>
                </ul>
            </div> <!-- lower navigation-->
        </div>
    </div> <!-- navigation -->
    <div class="ashamed-nav"></div>

    <!-- MOBILE NAVIGATION -->
    <div class="mobile-navigation">
      <div class="logo"><img class="logo" src="/images/logo.png"></div>
      <div id="hamburger-container"><img id="hamburger-button" src="/images/hamburger.png"></div>
      <ul id="mobile-nav">
        <a href="/"><li>Home</li></a>
        <a href="/ourmattress"><li>Our luxury mattress</li></a>
        <a href="/comfortlevels"><li>Comfort levels</li></a>
        <a href="/whychooseus"><li>The L&L way</li></a>
        <a class="active" href="/greenandlocal"><li>Green & local</li></a>
        <a href="/healthandcooling"><li>Health & cooling</li></a>
        <a class="shop" href="/checkout"><li>SHOP NOW</li></a>
        <a href="/ourcompany"><li>Our Company</li></a>
        <a href="/requestbrochure"><li>Request Brochure</li></a>
        <a href="/reviews"><li>Reviews</li></a>
        <a href="/contact"><li>Contact</li></a>
        <a class="bold" href="#"><li>1-877-672-2882</li></a>
      </ul>
    </div>
    <div class="ashamed-nav-mobile"></div>

    


    <!-- HERO SECTION -->
    <div class="hero">
        <div class="container">
            <h1>Designed with the planet in mind</h1>
            <!-- <span class="pathway"></span> -->
            <img class="pathway" src="/images/img_green_diagram.png">
        </div> <!-- container -->
    </div> <!-- hero -->


    <!-- 2-COLUMN SECTION -->
    <div class="two-columns">
        <div class="left"> 
            <!-- image goes here -->
        </div> <!-- left -->
        <div class="right">
            <div class="container">
                <h3>Our beds are healthy for you</h3>
                <p>As members of the Sustainable Furnishings Council (SFC), our committment to the environment and your health is something we take very seriously. It extend from our natural materials to our business model, allowing us an advantage over the brick and mortar shop: a tiny carbon footprint. We use high quality, CertiPurUS® certified bio-based foams, the safest plant-based natural thistle flame retardant and never expose our mattresses to irritants of any kind.</p>
            </div>
        </div> <!-- right -->
    </div> <!-- 2-columns -->


    <!-- PLANT BASED FOAM -->
    <div class="plant-based-foam">
        <div class="container">
            <!-- <span class="plant-icon"></span> -->
            <img class="plant-icon animated infinite pulse" src="/images/icon_green_plant.png">
            <h1>Mother Nature approved</h1>
            <!-- <p>Engineered Green</p> -->
            <div class="item right">
                <div class="image one"></div>
                <div class="content">
                    <h3 class="bold">Best American foam</h3>
                    <p>All of our foams are CertiPur-US® certified: the highest quality USA made foam with the highest level of plant-based materials in use today. It has remarkable sustainable qualities because it’s made with renewable plant oils.</p>
                </div>
            </div> <!-- item -->
            <div class="item left">
                <div class="image two"></div>
                <div class="content">
                    <h3 class="bold">Naturally plush cover</h3>
                    <p>Our outer cover is a hand-crafted blend of organic cotton, hypoallergenic fiber and plant-based natural thistle flame retardant — allergy-free and gentle on skin.</p>
                </div>
            </div> <!-- item -->
            <div class="item right last">
                <div class="image three"></div>
                <div class="content">
                    <h3 class="bold">Packaged to breathe</h3>
                    <p>Once crafted, your Loom & Leaf is immediately packaged in a special plastic with micro-openings to allow protected air circulation while preventing foreign particles from entering. We don’t fold your memory foam to cram it into a shipping box, it’s carefully delivered whole and secure.</p>
                </div>
            </div> <!-- item -->
            <!-- <img class="dottedline" src="/images/img_dottedline.png"> -->
        </div> <!-- container -->
    </div><!-- plant-based-foam -->


        <!-- 2 MORE POINTS -->
    <div class="two-points">
        <div class="container">
            <h1>Nothing toxic. Ever.</h1>
            <div class="left point">
                <span class="toxic-icon"></span>
                <div class="content">
                    <h3>No off-gassing</h3>
                    <p>Because our competitors source overseas, there is minimal quality control, so their mattresses can off-gas with an odor in your home. Our certified healthy foams have very minimal off-gassing, and are aired out at our supplier’s facility before they ever reach a Loom & Leaf factory, and more importantly, your home.</p>
                </div> <!-- content -->
            </div> <!-- left point -->
            <div class="right point">
                <span class="sleep-icon"></span>
                <div class="content">
                    <h3>No processed chemicals</h3>
                    <p>All of our plant-based foams are CertiPur-US® certified, so they’re never processed with toxic chemicals.
                    <ul>
                        <li class="bold">CertiPur-US® foams are:</li>
                        <li>Low in VOC emissions for indoor air quality</li>
                        <li>Made without ozone depleters</li>
                        <li>Made without PBDE’s and flame retardants</li> 
                        <li>Made without Formaldehyde</li>
                        <li>Made without mercury, lead and heavy metals</li> 
                        <li>Made without phthalates prohibited by the CPSC</li>
                    </ul>
                    </p>
                </div> <!-- content -->
            </div> <!-- right point -->
        </div> <!-- container -->
    </div> <!-- two points -->


    <!-- AMERICAN SECTION -->
    <div class="american-section">
        <div class="container">
            <h2>Quality and eco-responsibility</h2>
            <p>We use existing logistics and a few we’ve created to be as responsible and nimble as we can. We partnered with 12 manufacturers each with 25 years experience building quality mattresses throughout different regions to keep transportation time and costs low. We developed 34 corresponding fulfillment centers in these regions to keep the whole process running smoothly, so your mattress will only travel 100 miles on average from the factory to your front door. This is good for the environment, our footprint and your Loom & Leaf</p>
            <div class="button animated infinite pulse"><a href="/checkout">SHOP NOW!</a></div>
        </div>
    </div> <!-- american-section -->


    <!-- FOOTER -->
    <div class="footer">
        <div class="container">
            <p>For inquiries, call us on <span class="bold"> 877-672-2882</span> or email <div class="bold">info@loomandleaf.com</div></p>
            </br>
            <p>Office hours: <span class="bold">Monday - Friday, 9:00 am - 6:00 pm. EST</span></p>
            <div class="icon-row">
                <a class="linkedin" href="https://www.linkedin.com/company/9296695?trk=tyah&trkInfo=idx%3A2-1-6%2CtarId%3A1424810297152%2Ctas%3Aloom%26l"><img src="/images/icon_footer_linkedin.png"></a>
                <a class="youtube" href="https://www.youtube.com/channel/UCnQxToaUgcP2qnTgRVR6vTQ"><img src="/images/icon_footer_tube.png"></a>
                <a class="gplus"href="https://plus.google.com/u/0/b/104213153584601037100/104213153584601037100/about"><img src="/images/icon_footer_plus.png"></a>
                <a class="twitter" href="https://twitter.com/LoomAndLeaf"><img src="/images/icon_footer_twitter.png"></a>
                <a class="facebook" href="https://www.facebook.com/pages/LoomLeaf/810500152377742?ref=hl"><img src="/images/icon_footer_facebook.png"></a>
                <a class="instagram" href="https://instagram.com/loomandleaf/"><img src="/images/icon_footer_instagram.png"></a>
                <a class="pinterest" href="https://www.pinterest.com/loomandleaf/"><img src="/images/icon_footer_pinterest.png"></a>
            </div>
        </div> <!-- container -->
    </div> <!-- footer -->


</div>