<!-- HEALTH AND COOLING PAGE -->
<div class="healthandcooling page">

    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="container">
            <div class="upper">
                <ul>
                    <a href="/ourcompany"><li>Our Company</li></a>
                    <a href="/requestbrochure"><li>Request Brochure</li></a>
                    <a href="/reviews"><li>Reviews</li></a>
                    <a href="/contact"><li>Contact</li></a>
                    <a class="bold" href="#"><li><span class="phone-icon"></span>1-877-672-2882</li></a>
                </ul>
            </hr>
            </div> <!-- upper navigation-->
            <div class="lower">
                <a href="/homepage"><div class="logo"></div></a>
                <ul>
                    <a href="/ourmattress"><li>Our Mattress</li></a>
                    <a href="/comfortlevels"><li>Comfort Levels</li></a>
                    <a href="/whychooseus"><li>Why Choose Us</li></a>
                    <a href="/greenandlocal"><li>Green & Local</li></a>
                    <a class="active" href="/healthandcooling"><li>Health & Cooling</li></a>
                    <a class="shop" href="/shop"><li><span class="cart-icon"></span>Shop Now</li></a>
                </ul>
            </div> <!-- lower navigation-->
        </div>
    </div> <!-- navigation -->


    <!-- HERO SECTION -->
    <div class="hero">
        <!-- NOTE - PUT THE SPINAL IMAGE AS THE BACKGROUND IMAGE -->
        <div class="container">
            <h1>Give Your Back a Rest</h1>
            <p class="subheader">As Your Body Heals and Cools</p>
            <div class="point one">
                <h3>Natural Spinal Alignment</h3>
                <p>A good mattress supports spine alignment. So it's a good thing Loom & Leaf are on your side when you're on yours.</p>
            </div>
            <div class="point two">
                <h3>Relieves Tension Spots</h3>
                <p>No more pressure points for you when you sleep on our mattress!</p>
            </div>
            <div class="point three">
                <h3>Always Sleeps Cool</h3>
                <p>Our mattress allows you to sleep comfortably cool all night long.</p>
            </div>
        </div> <!-- container -->
    </div> <!-- hero -->


    <!-- THREE POINTS SECTION -->
    <div class="three-points-section">
        <div class="container">
            <h2>Healthy Foam. Healthy Sleep.</h2>
            <!-- this section will overlap on top of the 3 icons -->
            <div class="plus-section">
                <div class="plus one"></div>
                <div class="plus two"></div>
            </div>
            <div class="icon-section">
                <span class="circulation icon"></span>
                <h3>Improved Circulation</h3>
                <p>The gel's open cell design transfers heat and moisture quickly, improving blood flow and oxygen exposure to skin cells.</p>
            </div>
            <div class="icon-section">
                <span class="active icon"></span>
                <h3>A More Active You</h3>
                <p>The Loom & Leaf maximizes comfort, support, weight distribution and heat transfer, giving you a healthier, more restful, REM sleep. Rediscover your mornings.</p>
            </div>
            <div class="icon-section">
                <span class="healthyspine icon"></span>
                <h3>Healthy Spine and Joints</h3>
                <p>The gel and memory foam combined create superior weight distribution, which increases support for recessed parts of the body. This contouring effect helps diminish joint and bone stress, providing natural, therapeutic relief.</p>
            </div>
        </div> <!-- container -->
    </div> <!-- 3 POINTS SECTION -->


    <!-- 2-COLUMN SECTION -->
    <div class="two-columns">
        <div class="left"> <!-- image goes here -->
        </div> <!-- left -->
        <div class="right">
            <div class="container">
                <h2>The Power of the Gel</h2>
                <div class="item">
                    <h3>A Swirl Gel</h3>
                    <p>The open cell design supports heat and moisture transfer, improving heat conductivity by 30% absorbing more heat per square feet than other gels on the market.</p>
                </div>
                <div class="item">
                    <h3>Absorbs Heat Fast</h3>
                    <p>How the Gel is designed and shaped is important. Most Gels on the market are a "pellet" shape, but our new 'swirl and laminate' design has been shown to improve overall support by 40% in tests against 'pellet gel.'</p>
                </div>
                <div class="item">
                    <h3>Non-toxic and Stable</h3>
                    <p>We use the highest quality medical grade gel that is comprised of a non-toxic soft solid that will never degrade or break down.</p>
                </div>
            </div>
        </div> <!-- right -->
    </div> <!-- 2-columns -->


    <!-- 45-DAY-TRIAL -->
    <div class="fortyfive-trial">
        <div class="container">
            <h1>60 Day Trial</h1>
            <p>Enjoy our 60 day in-home experience, rather than a harried 5-minute store test drive.</p>
            <div class="button"><a href="#">SHOP NOW</a></div>
        </div>
    </div> <!-- 45-trial -->



    <!-- FOOTER -->
    <div class="footer">
        <div class="container">
            <p>For inquiries, call us on <span class="bold"> 877-672-2882</span> or email <div class="bold">info@loomandleaf.com</div></p>
            </br>
            <p>Office hours: <span class="bold">Monday - Friday, 9:00 am - 6:00 pm. EST</span></p>
            <div class="icon-row">
                <div class="twitter"></div><div class="facebook"></div><div class="instagram"></div>
            </div>
        </div> <!-- container -->
    </div> <!-- footer -->


</div>