<!-- Home Page -->
<div class="home page">

    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="upper">
            <ul>
                <a href="#"><li>Our Company</li></a>
                <a href="#"><li>Request Brochure</li></a>
                <a href="#"><li>Reviews</li></a>
                <a href="#"><li>Contact</li></a>
                <li><span class="phone-icon"></span>1-877-672-2882</li>
            </ul>
        </div> <!-- upper navigation-->
        <div class="lower">
            <a href="/homepage"><div class="logo"></div></a>
            <ul>
                <a href="/ourmattress"><li>Our Mattress</li></a>
                <a href="#"><li>Comfort Levels</li></a>
                <a href="#"><li>Why Choose Us</li></a>
                <a href="#"><li>Green & Local</li></a>
                <a href="/healthandcooling"><li>Health & Cooling</li></a>
                <a href="#"><li><span class="cart-icon"></span>Shop Now</li></a>
            </ul>
        </div> <!-- lower navigation-->
    </div> <!-- navigation -->


    <!-- HERO IMAGE -->
    <div class="hero">
        <div class="call-to-action">
            <h1>The most luxurious memory foam on the planet</h1>
            <p>A cut above for Half the Price</p>
            <div class="button">
                <a href="#">Show Now</a>
            </div> <!-- button -->
        </div> <!-- call to action -->
    </div> <!-- hero -->


    <!-- REVIEW SECTION -->
    <div class="review">
        <p>The Loom & Leaf memory foam bed is crafted by Saatva. Saatva built its reputation by being the best reviewed inner-spring mattress on Google. For us, every customer is our best customer.</p>
        <h3>Google Reviews</p>
        <div class="star-icon"></div>
    </div> <!-- review -->


    <!-- 3 ICONS SECTION -->
    <div class="3-icons">
        <div class="icon-section">
            <div class="mattress-icon"></div>
            <h3>Our Mattress</h2>
            <p>Lorem ipsum dolor sit amet, consectetur elit.</p>
            <div class="button">
                <div><a href="#">Learn More</a></div>
            </div>
        </div> <!-- icon-section -->
        <div class="icon-section">
            <div class="landlway-icon"></div>
            <h3>The Loom & Leaf Way</h2>
            <p>Lorem ipsum dolor sit amet, consectetur elit.</p>
            <div class="button">
                <div><a href="#">Learn More</a></div>
            </div>
        </div> <!-- icon-section -->
        <div class="icon-section">
            <div class="green-icon"></div>
            <h3>We're green and local</h2>
            <p>Lorem ipsum dolor sit amet, consectetur elit.</p>
            <div class="button">
                <div><a href="#">Learn More</a></div>
            </div>
        </div> <!-- icon-section -->
    </div> <!-- 3 icons section -->


    <!-- 2-COLUMN SECTION -->
    <div class="2-columns">
        <div class="left"> <!-- image goes here -->
        </div> <!-- left -->
        <div class="right">
            <h2>We're passionate about you</h2>
            <p>Our track record speaks for itself and we're always available by phone or chat to speak with you. Our Loom & Leaf luxury memory foam beds are made and delivered with the same care and pride as our Saatva innerspring mattresses, the best reviewed mattress customer service on Google. For us, every customer is our best customer.
        </div> <!-- right -->
    </div> <!-- 2-columns -->


    <!-- 45-DAY-TRIAL -->
    <div class="45-trial">
        <h1>45 Day Trial</h1>
        <p>Why lie for 5-minutes when you can snooze for over three hundred hours? Experience 45 days of bliss, with the friendliest take home test in the business. Catch your REM sleep, risk-free.</p>
        <div class="button"><a href="#">SHOW NOW</a></div>
    </div> <!-- 45-trial -->


    <!-- FOOTER -->
    <div class="footer">
        <p>For inquiries, call us on <div class="bold">877-672-2882</div> or email <div class="bold">info@loomandleaf.com</div></p>
        <p>Office hours: <div class="bold">Monday - Friday, 9:00 am - 6:00 pm. EST</div></p>
        <div class="icon-row">
            <div class="twitter"></div><div class="facebook"></div><div class="instagram"></div>
        </div>
    </div> <!-- footer -->


</div>