
<div class="ourmattress page">

    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="container">
            <div class="upper">
                <ul>
                    <a href="/ourcompany"><li>Our Company</li></a>
                    <a href="/requestbrochure"><li>Request Brochure</li></a>
                    <a href="/reviews"><li>Reviews</li></a>
                    <a href="/contact"><li>Contact</li></a>
                    <a href="tel:877-672-2882" class="bold" href="#"><li><img class="phone-icon" src="/images/img_phone.png">1-877-672-2882</li></a>
                </ul>
            </hr>
            </div> <!-- upper navigation-->
            <div class="lower">
                <a href="/"><img class="logo" src="/images/logo.png"></a>
                <ul>
                    <a class="active" href="/ourmattress"><li>Our luxury mattress</li></a>
                    <a href="/comfortlevels"><li>Comfort levels</li></a>
                    <a href="/whychooseus"><li>The L&L way</li></a>
                    <a href="/greenandlocal"><li>Green & local</li></a>
                    <a href="/healthandcooling"><li>Health & cooling</li></a>
                    <a class="shop" href="/checkout"><li><img class="cart-icon" src="/images/img_shoppingcart.png">SHOP NOW</li></a>
                </ul>
            </div> <!-- lower navigation-->
        </div>
    </div> <!-- navigation -->
    <div class="ashamed-nav"></div>

    <!-- MOBILE NAVIGATION -->
    <div class="mobile-navigation">
      <div class="logo"><img class="logo" src="/images/logo.png"></div>
      <div id="hamburger-container"><img id="hamburger-button" src="/images/hamburger.png"></div>
      <ul id="mobile-nav">
        <a href="/"><li>Home</li></a>
        <a class="active" href="/ourmattress"><li>Our luxury mattress</li></a>
        <a href="/comfortlevels"><li>Comfort levels</li></a>
        <a href="/whychooseus"><li>The L&L way</li></a>
        <a href="/greenandlocal"><li>Green & local</li></a>
        <a href="/healthandcooling"><li>Health & cooling</li></a>
        <a class="shop" href="/checkout"><li>SHOP NOW</li></a>
        <a href="/ourcompany"><li>Our Company</li></a>
        <a href="/requestbrochure"><li>Request Brochure</li></a>
        <a href="/reviews"><li>Reviews</li></a>
        <a href="/contact"><li>Contact</li></a>
        <a class="bold" href="#"><li>1-877-672-2882</li></a>
      </ul>
    </div>






    <!-- HERO IMAGE -->
    <div class="hero">
        <div class="container">
            <h1>More than just a block of foam</h1>
            <div class="left">
                <img class="mobile" src="/images/hero_mattress.png">
            </div>
            <div class="right">
                <div class="point one">
                    <!-- <span class="number one"></span> -->
                    <img class="number" src="/images/img_mattress_one.png">
                    <h3>Dual layer breathable support</h3>
                    <p>The bottom support base is a dual layer of plant-based foam with breathable airflow channels; fundamental in distributing body weight evenly and enhancing airflow.</p>
                </div>
                <div class="point two">
                    <!-- <span class="number two"></span> -->
                    <img class="number" src="/images/img_mattress_two.png">
                    <h3>Plant-based, 5 lb. premium memory foam</h3>
                    <p>The upper layer is 5 lb. of memory foam, the highest American quality on the market. This spongy layer naturally contours and cradles you, offering the best in conforming support and cooling comfort.</p>
                </div>
                <div class="point three">
                    <!-- <span class="number three"></span> -->
                    <img class="number" src="/images/img_mattress_three.png">
                    <h3>Breakthrough, gel-on-gel foam layer</h3>
                    <p>Our proprietary Spinal Zone Gel layer is a breakthrough, the first-of-its-kind, much more powerful than just gel infused foam. It offers a remarkable level of conformation (shape, arrangement, weight distribution) and cool air transfer.</p>
                </div>
                <div class="point four">
                    <!-- <span class="number four"></span> -->
                    <img class="number" src="/images/img_mattress_four.png">
                    <h3>Quilted, organic cotton covering</h3>
                    <p>This breathable, organic cotton coat adds a beautiful finish to Loom & Leaf. It’s blended with a natural thistle flame retardant and allergy-free, so you’ll keep comfortable, cool and safe.</p>
                </div>
            </div>
        </div> <!-- container -->
    </div> <!-- hero -->


    <!-- CALL TO ACTION -->
    <div class="call-to-action">
        <h2>We reinvented comfort</h2>
        <h2 class="bot">Then simplified it</h2>
        <p>Choose your comfort level</p>
        <div class="button-row">
            <div class="left button"><a href="/checkout">Sleep Relaxed</a></div>
            <div class="right button"><a href="/checkout">Sleep Firm</a></div>
        </div>
    </div> <!-- call to action -->


    <!-- 2 MORE POINTS -->
    <div class="two-points">
        <div class="container">
            <span class="highermattress-icon animated infinite pulse"></span>
            <h2>Hold your mattress to a higher standard</h2>
            <div class="left point">
                <span class="american-icon"></span>
                <div class="content">
                    <h3>Our American mark</h3>
                    <p>We build and source in America. Your Loom & Leaf is hand-crafted in 12 factories and transported via 34 fulfillment centers. This allows clear product oversight to ensure the highest quality standard: the American standard.</p>
                </div> <!-- content -->
            </div> <!-- left point -->
            <div class="right point">
                <span class="sleep-icon"></span>
                <div class="content">
                    <h3>State of the art sleep</h3>
                    <p>We use a patented, heavy-duty medical-grade cooling gel, which improves overall support by 40% and reduces excess heat by 30% against the leading gel competitor. We laminated this medical-grade gel onto a 4 lb. gel-infused top memory foam layer creating a Spinal Zone Gel layer with superior contouring, weight distribution and cooling.</p>
                </div> <!-- content -->
            </div> <!-- right point -->
        </div> <!-- container -->
    </div> <!-- two points -->


    <!-- CHART SECTION -->
    <div class="chart">
        <div class="container">
            <h1>Does the competition layer up?</h1>
            <p class="subheader">An objective measure of comparison</p>
            <p>Transparency and honesty is a passion of ours. We think it’s the best way for our customers to know what they are getting. Other companies rely on clever marketing and catchy trademarks to disguise their specs and remain vague about how or why the science works. We don’t.</p>
            <table>
                <tr>
                    <th></th>
                    <th>Loom & Leaf</th>
                    <th>Tempurpedic Cloud Luxe</th>
                </tr>
                <tr>
                    <th>5lb Foam</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_check.png"></th>
                </tr>
                <tr>
                    <th>Medical Grade Gel</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Cooling Gel Foam</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Organic Cotton Cover</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Flame Retardant</th>
                    <th class="yes">plant-based natural thistle</th>
                    <th class="no">slow burn cellulose</th>
                </tr>
            </table>
        </div> <!-- container -->
    </div> <!-- chart -->


    <!-- COMPARE SECTION -->
    <div class="compare-section">
        <div class="container">
            <span class="compare-icon"></span>
            <img class="compare-icon animated infinite pulse" src="/images/icon_mattress_bowtie.png">
            <h2>Dressed to impress</h2>
            <p>Our luxurious Loom & Leaf bed doesn’t resemble the typical rectangular block of foam. The unity of two spectacular materials: organic cotton and premium plant- based foam create a very unique memory foam mattress, with a look and feel beyond anything in the industry.</p>
        </div> <!-- container -->
        <span class="plus"></span>
        <div class="left">
            <div class="container">
                <span class="photo photo-left"></span>
                <h3>Wrapped in organic cotton</h3>
                <p>The final cover adds a beautiful finish to the mattress and is not a topper, but actually sewn on, changing the look and more importantly, the feel— making it plush and much more comfortable than top premium beds.</p>
            </div>
        </div> <!-- left -->
        <div class="right">
            <div class="container">
                <span class="photo photo-right"></span>
                <h3>The perfect, premium plant-based foam</h3>
                <p>Four luxurious layers of plant-based foam and medical-grade gel combine to provide the perfect comfort experience.</p>
            </div>
        </div> <!-- right -->
    </div> <!-- compare section -->


    <!-- 45-DAY-TRIAL -->
    <div class="fortyfive-trial">
        <div class="container">
            <h1>75 day trial</h1>
            <p>Experience 75 days of bliss. Over 600 hours of life changing snooze time, risk- free. The friendliest take home trial in the business.</p>
            <div class="button animated infinite pulse"><a href="/checkout">SHOP NOW</a></div>
        </div>
    </div> <!-- 45-trial -->


    <!-- FOOTER -->
    <div class="footer">
        <div class="container">
            <p>For inquiries, call us on <span class="bold"> 877-672-2882</span> or email <div class="bold">info@loomandleaf.com</div></p>
            </br>
            <p>Office hours: <span class="bold">Monday - Friday, 9:00 am - 6:00 pm. EST</span></p>
            <div class="icon-row">
                <a class="linkedin" href="https://www.linkedin.com/company/9296695?trk=tyah&trkInfo=idx%3A2-1-6%2CtarId%3A1424810297152%2Ctas%3Aloom%26l"><img src="/images/icon_footer_linkedin.png"></a>
                <a class="youtube" href="https://www.youtube.com/channel/UCnQxToaUgcP2qnTgRVR6vTQ"><img src="/images/icon_footer_tube.png"></a>
                <a class="gplus"href="https://plus.google.com/u/0/b/104213153584601037100/104213153584601037100/about"><img src="/images/icon_footer_plus.png"></a>
                <a class="twitter" href="https://twitter.com/LoomAndLeaf"><img src="/images/icon_footer_twitter.png"></a>
                <a class="facebook" href="https://www.facebook.com/pages/LoomLeaf/810500152377742?ref=hl"><img src="/images/icon_footer_facebook.png"></a>
                <a class="instagram" href="https://instagram.com/loomandleaf/"><img src="/images/icon_footer_instagram.png"></a>
                <a class="pinterest" href="https://www.pinterest.com/loomandleaf/"><img src="/images/icon_footer_pinterest.png"></a>
            </div>
        </div> <!-- container -->
    </div> <!-- footer -->




</div>