
<div class="ourmattress page">

    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="container">
            <div class="upper">
                <ul>
                    <a href="/ourcompany"><li>Our Company</li></a>
                    <a href="/requestbrochure"><li>Request Brochure</li></a>
                    <a href="/reviews"><li>Reviews</li></a>
                    <a href="/contact"><li>Contact</li></a>
                    <a class="bold" href="#"><li><img class="phone-icon" src="/images/img_phone.png">1-877-672-2882</li></a>
                </ul>
            </hr>
            </div> <!-- upper navigation-->
            <div class="lower">
                <a href="/"><img class="logo" src="/images/logo.png"></a>
                <ul>
                    <a class="active" href="/ourmattress"><li>Our Mattress</li></a>
                    <a href="/comfortlevels"><li>Comfort Levels</li></a>
                    <a href="/whychooseus"><li>Why Choose Us</li></a>
                    <a href="/greenandlocal"><li>Green & Local</li></a>
                    <a href="/healthandcooling"><li>Health & Cooling</li></a>
                    <a class="shop" href="/checkout"><li><img class="cart-icon" src="/images/img_shoppingcart.png">Shop Now</li></a>
                </ul>
            </div> <!-- lower navigation-->
        </div>
    </div> <!-- navigation -->
    <div class="ashamed-nav"></div>

    <!-- MOBILE NAVIGATION -->
    <div class="mobile-navigation">
      <div class="logo"><img class="logo" src="/images/logo.png"></div>
      <div id="hamburger-container"><img id="hamburger-button" src="/images/hamburger.png"></div>
      <ul id="mobile-nav">
        <a href="/"><li>Home</li></a>
        <a class="active" href="/ourmattress"><li>Our Mattress</li></a>
        <a href="/comfortlevels"><li>Comfort Levels</li></a>
        <a href="/whychooseus"><li>Why Choose Us</li></a>
        <a href="/greenandlocal"><li>Green & Local</li></a>
        <a href="/healthandcooling"><li>Health & Cooling</li></a>
        <a class="shop" href="/checkout"><li>Shop Now</li></a>
        <a href="/ourcompany"><li>Our Company</li></a>
        <a href="/requestbrochure"><li>Request Brochure</li></a>
        <a href="/reviews"><li>Reviews</li></a>
        <a href="/contact"><li>Contact</li></a>
        <a class="bold" href="#"><li>1-877-672-2882</li></a>
      </ul>
    </div>






    <!-- HERO IMAGE -->
    <div class="hero">
        <div class="container">
            <h1>More Than Just a Block of Foam</h1>
            <div class="left">
                <img class="mobile" src="/images/hero_mattress.png">
            </div>
            <div class="right">
                <div class="point one">
                    <!-- <span class="number one"></span> -->
                    <img class="number" src="/images/img_mattress_one.png">
                    <h3>Dual Layer, Plant-Based Foam</h3>
                    <p>A dense and durable support base foam maximizes weight distribution. Designed with airflow channels to increase breathability.</p>
                </div>
                <div class="point two">
                    <!-- <span class="number two"></span> -->
                    <img class="number" src="/images/img_mattress_two.png">
                    <h3>Five Pound, Plant-Based Memory Foam</h3>
                    <p>This eco-friendly upper layer is five pounds of premium memory foam.</p>
                </div>
                <div class="point three">
                    <!-- <span class="number three"></span> -->
                    <img class="number" src="/images/img_mattress_three.png">
                    <h3>Breakthrough Gel on Gel Foam</h3>
                    <p>Our patented gel is designed to unite with our premium gel foam, absorbing heat fast and cooling you all night.</p>
                </div>
                <div class="point four">
                    <!-- <span class="number four"></span> -->
                    <img class="number" src="/images/img_mattress_four.png">
                    <h3>Quilted, Organic Cotton Cover</h3>
                    <p>A luxurious coat adds unique and superior comfort.</p>
                </div>
            </div>
        </div> <!-- container -->
    </div> <!-- hero -->


    <!-- CALL TO ACTION -->
    <div class="call-to-action">
        <h2>We Reinvented Comfort, Then Simplified It</h2>
        <p>Introducing Two Perfect Comfort Levels</p>
        <div class="button-row">
            <div class="left button"><a href="/checkout">Sleep Relaxed</a></div>
            <div class="right button"><a href="/checkout">Sleep Firm</a></div>
        </div>
    </div> <!-- call to action -->


    <!-- 2 MORE POINTS -->
    <div class="two-points">
        <div class="container">
            <span class="highermattress-icon"></span>
            <h2>Hold Your Mattress to a Higher Standard</h2>
            <div class="left point">
                <span class="american-icon"></span>
                <div class="content">
                    <h3>Our American Stamp</h3>
                    <p>We embrace American manufacturing and American materials: locally sourced foam, handmade across 11 factories, delivered via 31 fulfillment centers.</p>
                </div> <!-- content -->
            </div> <!-- left point -->
            <div class="right point">
                <span class="sleep-icon"></span>
                <div class="content">
                    <h3>State of the Art Sleep</h3>
                    <p>Our upper layer of memory foam is fused with the latest swirling gel. Tested against the leading competitor: swirl gel improves overall support by 40% and reduces excess heat by 30%.</p>
                </div> <!-- content -->
            </div> <!-- right point -->
        </div> <!-- container -->
    </div> <!-- two points -->


    <!-- CHART SECTION -->
    <div class="chart">
        <div class="container">
            <h1>The Unique Loom & Leaf</h1>
            <p>Quality for less money</p>
         <!--    <p>Brands like Tempur-Pedic are excellent at creating catchy names that don’t explain why or how the science works. What makes the Loom & Leaf special is a 5-pound memory foam layer uniting the latest medical-grade gel and gel foam, a dual layer of breathable support foam and a plush, organic cotton cover. With the longest warranty in the industry, it’s not much of a comparison—especially when our price tag slides in for under $1,300.</p> -->
            <table>
                <tr>
                    <th></th>
                    <th>Loom & Leaf</th>
                    <th>Tempurpedic Cloud Luxe</th>
                </tr>
                <tr>
                    <th>5lb Foam</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Medical Grade Gel</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Natural Materials</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Warranty</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
            </table>
        </div> <!-- container -->
    </div> <!-- chart -->


    <!-- COMPARE SECTION -->
    <div class="compare-section">
        <div class="container">
            <span class="compare-icon"></span>
            <img class="compare-icon" src="/images/icon_mattress_bowtie.png">
            <h2>Memory Foam This Luxurious Can’t Be Stuffed into a Box</h2>
            <p>Our Loom & Leaf breathes life into the standard block of memory foam by adding a luxurious interpretation that can't be stuffed into a box.</p>
        </div> <!-- container -->
        <span class="plus"></span>
        <div class="left">
            <div class="container">
                <span class="photo photo-left"></span>
                <h3>Quilted, Organic Cotton Cover</h3>
                <p>The outer coat of the Loom & Leaf is a plush, quilted, organic cotton layer. Its eco-friendly design combined with the iconic comfort of the memory foam, offers a luxurious interpretation that can't be stuffed into a box.</p>
            </div>
        </div> <!-- left -->
        <div class="right">
            <div class="container">
                <span class="photo photo-right"></span>
                <h3>5 Pound Plant-Based Memory Foam</h3>
                <p>We sourced the leading plant-based foam, five whole pounds of it, more than the competitors, who all weigh in under four pounds. This is a sacrifice we weren't willing to make, which allows us to offer you extra support, comfort and durability.</p>
            </div>
        </div> <!-- right -->
    </div> <!-- compare section -->


    <!-- 45-DAY-TRIAL -->
    <div class="fortyfive-trial">
        <div class="container">
            <h1>60 Day Trial</h1>
            <p>Enjoy our 60 day in-home experience, rather than a harried 5-minute store test drive.</p>
            <div class="button"><a href="/checkout">SHOP NOW</a></div>
        </div>
    </div> <!-- 45-trial -->


    <!-- FOOTER -->
    <div class="footer">
        <div class="container">
            <p>For inquiries, call us on <span class="bold"> 877-672-2882</span> or email <div class="bold">info@loomandleaf.com</div></p>
            </br>
            <p>Office hours: <span class="bold">Monday - Friday, 9:00 am - 6:00 pm. EST</span></p>
            <div class="icon-row">
                <a class="linkedin" href="https://www.linkedin.com/company/9296695?trk=tyah&trkInfo=idx%3A2-1-6%2CtarId%3A1424810297152%2Ctas%3Aloom%26l"><img src="/images/icon_footer_linkedin.png"></a>
                <a class="youtube" href="https://www.youtube.com/channel/UCnQxToaUgcP2qnTgRVR6vTQ"><img src="/images/icon_footer_tube.png"></a>
                <a class="gplus"href="https://plus.google.com/u/0/b/104213153584601037100/104213153584601037100/about"><img src="/images/icon_footer_plus.png"></a>
                <a class="twitter" href="https://twitter.com/LoomAndLeaf"><img src="/images/icon_footer_twitter.png"></a>
                <a class="facebook" href="https://www.facebook.com/pages/LoomLeaf/810500152377742?ref=hl"><img src="/images/icon_footer_facebook.png"></a>
                <a class="instagram" href="https://instagram.com/loomandleaf/"><img src="/images/icon_footer_instagram.png"></a>
                <a class="pinterest" href="https://www.pinterest.com/loomandleaf/"><img src="/images/icon_footer_pinterest.png"></a>
            </div>
        </div> <!-- container -->
    </div> <!-- footer -->




</div>