<!-- OUR MATTRESS PAGE -->
<div class="ourmattress page">

    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="upper">
            <ul>
                <a href="#"><li>Our Company</li></a>
                <a href="#"><li>Request Brochure</li></a>
                <a href="#"><li>Reviews</li></a>
                <a href="#"><li>Contact</li></a>
                <li><span class="phone-icon"></span>1-877-672-2882</li>
            </ul>
        </div> <!-- upper navigation-->
        <div class="lower">
            <a href="/homepage"><div class="logo"></div></a>
            <ul>
                <a href="/ourmattress"><li class="active">Our Mattress</li></a>
                <a href="#"><li>Comfort Levels</li></a>
                <a href="#"><li>Why Choose Us</li></a>
                <a href="#"><li>Green & Local</li></a>
                <a href="/healthandcooling"><li>Health & Cooling</li></a>
                <a href="#"><li><span class="cart-icon"></span>Shop Now</li></a>
            </ul>
        </div> <!-- lower navigation-->
    </div> <!-- navigation -->


    <!-- HERO IMAGE -->
    <div class="hero">
        <div class="container">
            <h1>We're More Than a Block of Foam</h1>
            <div class="left"></div>
            <div class="right">
                <div class="point">
                    <span clas="one"></span>
                    <h3>Breakthrough Medical Grade Gel</h3>
                    <p>Our patented gel supports your and absorbs heat fast, cooling you all night.</p>
                </div>
                <div class="point">
                    <span clas="two"></span>
                    <h3>Dual Layer, Plant-Based Foam</h3>
                    <p>This durable, dense support base increases breathability with airflow channels and balances your weight equally.</p>
                </div>
                <div class="point">
                    <span clas="three"></span>
                    <h3>Five Pound, Plant-Based Memory Foam</h3>
                    <p>This healthy, premium upper layer is designed with five pounds of foam.</p>
                </div>
                <div class="point">
                    <span clas="four"></span>
                    <h3>Quilted, Organic Cotton Cover</h3>
                    <p>A luxurious coat that adds superior comfort.</p>
                </div>
            </div>
        </div> <!-- container -->
    </div> <!-- hero -->


    <!-- CALL TO ACTION -->
    <div class="call-to-action">
        <h2>We Reinvented Comfort, Then Simplified It</h2>
        <p>Choose Your Comfort Level</p>
        <div class="left button"><a href="#">Sleep Relaxed</a></div>
        <div class="right button"><a href="#">Sleep Firm</a></div>
    </div> <!-- call to action -->


    <!-- 2 MORE POINTS -->
    <div class="two-points">
        <div class="container">
            <span class="highermattress-icon"></span>
            <h2>Hold Your Mattress to a Higher Standard</h2>
            <div class="left point">
                <span class="american-icon"></span>
                <div class="content">
                    <h3>Our American Stamp</h3>
                    <p>We keep our materials and manufacturing domestic: locally sourced foam, handmade in 11 factories and delivered via 31 fulfillment centers.</p>
                </div> <!-- content -->
            </div> <!-- left point -->
            <div class="right point">
                <span class="sleep-icon"></span>
                <div class="content">
                    <h3>State of the Art Sleep</h3>
                    <p>Our upper memory foam is fused with the latest swirling gel. Compared to the leading "pellet gel": it improves overall support by 40% and heat reduction by 30%.</p>
                </div> <!-- content -->
            </div> <!-- right point -->
        </div> <!-- container -->
    </div> <!-- two points -->


    <!-- CHART SECTION -->
    <div class="chart">
        <div class="container">
            <h1>A "Natural" Comparison</h1>
            <p>Quality for less money</p>
            <table>
                <tr>
                    <th></th>
                    <th>Loom & Leaf</th>
                    <th>Tempurpedic</th>
                    <th>Serta iComfort</th>
                </tr>
                <tr>
                    <th>5lb Foam</th>
                    <th><span class="yes"></span></th>
                    <th><span class="no"></span></th>
                    <th><span class="no"></span></th>
                </tr>
                <tr>
                    <th>Medical Grade Gel</th>
                    <th><span class="yes"></span></th>
                    <th><span class="no"></span></th>
                    <th><span class="no"></span></th>
                </tr>
                <tr>
                    <th>Natural Materials</th>
                    <th><span class="yes"></span></th>
                    <th><span class="no"></span></th>
                    <th><span class="no"></span></th>
                </tr>
                <tr>
                    <th>Warranty</th>
                    <th><span class="yes"></span></th>
                    <th><span class="no"></span></th>
                    <th><span class="no"></span></th>
                </tr>
            </table>
        </div> <!-- container -->
    </div> <!-- chart -->


    <!-- COMPARE SECTION -->
    <div class="compare-section">
        <div class="container">
            <span class="compare-icon"></span>
            <h2>The Luxurious Interpretation of Memory Foam</h2>
            <p>Our Loom & Leaf breathes life into the standard block of memory foam by adding a luxurious interpretation that can't be stuffed into a box.</p>
        </div> <!-- container -->
        <span class="plus"></span>
        <div class="left">
            <span class="photo left"></span>
            <h3>Quilted, Organic Cotton Cover</h3>
            <p>The outer coat of the Loom & Leaf is a plush, quilted, organic cotton layer. Its eco-friendly design combined with the iconic comfort of the memory foam, offers a luxurious interpretation that can't be stuffed into a box.</p>
        </div> <!-- left -->
        <div class="right">
            <span class="photo right"></span>
            <h3>5 Pound Plant-Based Memory Foam</h3>
            <p>We sourced the leading plant-based foam, five whole pounds of it, more than the competitors, who all weigh in under four pounds. This is a sacrifice we weren't willing to make, which allows us to offer you extra support, comfort and durability.</p>
        </div> <!-- right -->
    </div> <!-- compare section -->


    <!-- 45-DAY-TRIAL -->
    <div class="45-trial">
        <h1>45 Day Trial</h1>
        <p>Why lie for 5-minutes when you can snooze for over three hundred hours? Experience 45 days of bliss, with the friendliest take home test in the business. Catch your REM sleep, risk-free.</p>
        <div class="button"><a href="#">SHOW NOW</a></div>
    </div> <!-- 45-trial -->


    <!-- FOOTER -->
    <div class="footer">
        <p>For inquiries, call us on <div class="bold">877-672-2882</div> or email <div class="bold">info@loomandleaf.com</div></p>
        <p>Office hours: <div class="bold">Monday - Friday, 9:00 am - 6:00 pm. EST</div></p>
        <div class="icon-row">
            <div class="twitter"></div><div class="facebook"></div><div class="instagram"></div>
        </div>
    </div> <!-- footer -->




</div> <!-- ourmattress -->