<!-- REVIEWS PAGE -->
<div class="reviews page">


    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="container">
            <div class="upper">
                <ul>
                    <a href="/ourcompany"><li>Our Company</li></a>
                    <a href="/requestbrochure"><li>Request Brochure</li></a>
                    <a class="active" href="/reviews"><li>Reviews</li></a>
                    <a href="/contact"><li>Contact</li></a>
                </ul>
            </hr>
            </div> <!-- upper navigation-->
            <div class="phone">
                <a href="tel:877-672-2882" class="bold phone">
                    <img class="phone-icon" src="/images/img_phone.png">1-877-762-2882
                </a>
            </div>
            <div class="lower">
                <a href="/"><img class="logo" src="/images/logo.png"></a>
                <ul>
                    <a href="/ourmattress"><li>Our luxury mattress</li></a>
                    <a href="/comfortlevels"><li>Comfort levels</li></a>
                    <a href="/whychooseus"><li>The L&L way</li></a>
                    <a href="/greenandlocal"><li>Green & local</li></a>
                    <a href="/healthandcooling"><li>Health & cooling</li></a>
                    <a class="shop" href="/checkout"><li><img class="cart-icon" src="/images/img_shoppingcart.png">SHOP NOW</li></a>
                </ul>
            </div> <!-- lower navigation-->
        </div>
    </div> <!-- navigation -->
    <div class="ashamed-nav"></div>

    <!-- MOBILE NAVIGATION -->
    <div class="mobile-navigation">
      <div class="logo"><img class="logo" src="/images/logo.png"></div>
      <div id="hamburger-container"><img id="hamburger-button" src="/images/hamburger.png"></div>
      <ul id="mobile-nav">
        <a href="/"><li>Home</li></a>
        <a href="/ourmattress"><li>Our luxury mattress</li></a>
        <a href="/comfortlevels"><li>Comfort levels</li></a>
        <a href="/whychooseus"><li>The L&L way</li></a>
        <a href="/greenandlocal"><li>Green & local</li></a>
        <a href="/healthandcooling"><li>Health & cooling</li></a>
        <a class="shop" href="/checkout"><li>SHOP NOW</li></a>
        <a href="/ourcompany"><li>Our Company</li></a>
        <a href="/requestbrochure"><li>Request Brochure</li></a>
        <a class="active" href="/reviews"><li>Reviews</li></a>
        <a href="/contact"><li>Contact</li></a>
        <a class="bold" href="#"><li>1-877-762-2882</li></a>
      </ul>
    </div>
    <div class="ashamed-nav-mobile"></div>



    <!-- REVIEWS MATTER -->
    <div class="reviews-section">
        <div class="container">
            <div class="left">
                <h2>We absolutely love your feedback</h2>
                <p>As an online-only business, our mission from day one has been transparency and honesty. We let our customers do the talking and we love hearing what you have to say. It’s why we’re here, it’s our #1 goal, and it’s how we built our business and why our Saatva innerspring mattress is the best-reviewed mattress company on Google.</p>
            </div>
            <div class="right">
                <!-- <span class="stars"></span> -->
                <img class="stars" src="/images/icon_5stars.png">
            </div>
        </div>
    </div>



    <!-- CALL TO ACTION -->
    <div class="call-to-action">
        <div class="container">
            <p class="quote">“We love delivering happiness! Why do we have so many positive reviews unlike every other source in our industry? Positive reviews are our ultimate reward for acting swiftly, courteously and efficiently to correct any human error. We treat you with a level of courtesy, respect and genuine kindness — like a best friend.”</p>
            <p>Ed Brians, EVP Saatva and Loom & Leaf</p>
        </div>
    </div>
    <!-- WIDE PHOTO SEPARATOR -->
    <div class="photo-separator"></div>
    <!-- <img class="photo-separator" src="/images/img_comfort_separator.png"> -->


    <!-- REVIEWS SECTION -->
    <div class="reviews">
        <div class="row one">
            <div class="left">
                <div class="container">
                    <!-- <span class="stars"></span> -->
                    <img class="stars" src="/images/icon_5stars.png">
                    <h3>LOVE AT FIRST SLEEP</h3>
                    <p>“I recently have started sleeping on a Loom and Leaf mattress and I have loved it from the moment I laid on it. My husband and I try to stay active from rock climbing, training for marathons so we are constantly achy. I really was not one to believe that a good nights rest was so crucial. After the first night it was incredible how rested my body felt. Quick example of how amazing this mattress truly is... I recently had a 12+ hour shift and then slept about 10 hours. I woke up instantly regretting my laziness, knowing I was going to be stiff as a board. However, when I got up I felt great! Not at all stiff or sore, in fact I then got back into bed and slept another 2 hours. Now that's a good mattress..."</p>
                    <p class="bold">Allison L.</p>
                    <p>Mar 3, 2015</p>
                </div>
            </div>
            <div class="right">
                <div class="container">
                    <!-- <span class="stars"></span> -->
                    <img class="stars" src="/images/icon_5stars.png">
                    <h3>PDG Folks! Pretty. Darn. Good.</h3>
                    <p>“I’m a side sleeper so mattresses that are too firm causes problems. Too soft and I wake up sweating in a soft hole too deep to roll out of. This mattress hits that sweet spot right in the middle for me. Supportive but not constricting. No waking up in a hole. No more sore spine in the morning. I have tolerated a lot in past mattresses, thinking this happy place didn't truly exist...but here it is!”</p>
                    <p class="bold">Darry P.</p>
                    <p>Mar 3, 2015</p>
                </div>
            </div>
        </div>
        <div class="row two">
            <div class="left">
                <div class="container">
                    <!-- <span class="stars"></span> -->
                    <img class="two-stars" src="/images/icon_5stars.png">
                    <h3>JUST BUY IT!!</h3>
                    <p>Everyone who has had a difficult time sleeping will understand, how much it finally means to finally find a comfortable mattress; here is one that is so wonderful that I have not only begun to sleep well, but I am actually sleeping so deeply now, that I am dreaming again! This is truly the most comfortable mattress I have ever slept on. It's that simple. It's an extraordinary thing to find one's self having more clarity and energy and knowing that the only true cause of it is a well crafted mattress. There is no other explanation. I am grateful to Loom & Leaf. Suffering from insomnia and arthritis for years, I had hoped to get some benefit from ordering a new mattress. But, I had never expected so huge a difference to come to me from selecting the right sleep product. That difference was not merely the shock of going from a lower quality mattress to a higher one... My prior mattress was a very well-known national brand, and quite expensive. I've had the Loom & Leaf mattress for almost two months now; Honestly I can say that subtle but significant improvements in the quality of my sleep continue to amaze me! My body is fully supported everywhere, yet, it is as if I'm suspended in air--nothing hurts! Normally, I feel pressure on my hips. With the Loom & Leaf mattress, all that is a distant memory. Ordering this mattress was easy, and the delivery, quick and flawless. The delivery personnel brought the mattress up to my apartment and set it, like a jewel, into the frame. They were cordial and professional--very helpful. Initially, I didn’t know if I would like the mattress, so I had ordered it as a trial, but after the first night sleeping on my new mattress, I knew that it was a keeper. It is firm, but so comfortable, and it fits my Queen bed perfectly. No more turning and turning, now I change sides maybe once a night. I truly love this mattress. To be honest, I have never written a review for anything I have purchased, but the quality of this mattress is quite literally changing the quality of my life. I am feeling more rested, and it is so much easier to enjoy my days when my nights are comfortable and restful... I would recommend this mattress to anyone who is looking for an affordable but high-quality mattress that can be ordered and delivered easily, without hassle. Trust me—I wouldn’t write a review if this mattress wasn’t as incredible as it is. I couldn't be more sincere. Just try it! In peace,</p>
                    <p class="bold">Mariam I.</p>
                    <p>Mar 2, 2015</p>
                </div>
            </div>
            <div class="right">
                <div class="container">
                    <!-- <span class="stars"></span> -->
                    <img class="stars" src="/images/icon_5stars.png">
                    <h3>BIGGEST LOOM & LEAF FAN!!</h3>
                    <p>“Hello! My name is Tramere M. I have had my Loom & Leaf therapeutic bed for 3 months now. I Love Love Love this bed! It is the only bed I want to own! I've purchased plush pillow tops, double sided pillow tops, I have owned Serta’s top of the line mattresses and to date none of them could stand up to or compare to this set. The Loom & Leaf model is a work of pure art! This bed has engineering that cant be denied, it’s soft and firm at the same time. Its temperature controlled somehow. I have yet to wake up with that sweat we are all familiar with from traditional mattresses! This particular model literally holds you in any position you choose to be in while sleep or awake. Seriously like a mother holding her baby! If you toss and turn at night? Hmm you won’t any longer. If you are like me and don't like a mattress that shares every movement your significant other makes at night on the other side of the bed...well, I promise this bed solves that problem! Yes, Yes its Organic Cotton! Super soft! I never knew what a good nights sleep felt like! You better believe I am now! I have yet to wake with pain in the shoulders, neck and back. I have recommended this model to any and everyone I have the chance too. My only complaint about this bed set is that I have been running late to work everyday I have had it! Im Sooo OK With That!” Thank You Loom & Leaf I Am Your Biggest Fan!</p>
                    <p class="bold">Tramere M.</p>
                    <p>Mar 2, 2015</p>
                </div>
            </div>
        </div>
        <div class="row three">
            <div class="left">
                <div class="container">
                    <!-- <span class="stars"></span> -->
                    <img class="stars" src="/images/icon_5stars.png">
                    <h3>Truly Enjoying My Loom & Leaf!!</h3>
                    <p>It was firmer than what I was previously sleeping on, but I quickly became comfortable with this mattress. I am more relaxed at night and can tell that I am sleeping longer. When I wake in the morning, I no longer have the lower back pain and stiffness I had in the past. I truly am enjoying my sleep experience on the Loom & Leaf mattress and will definitely recommend it.</p>
                    <p class="bold">Tom H.</p>
                    <p>Mar 2, 2015</p>
                </div>
            </div>
            <div class="right">
                <div class="container">
                    <!-- <span class="stars"></span> -->
                    <img class="stars" src="/images/icon_5stars.png">
                    <h3>BEST PREMIUM MATTRESS I HAVE EVER OWNED</h3>
                    <p>“I have spent a week with the loom and leaf mattress and have never slept better. I have always purchased premium mattresses and I can say this is the best one I have owned. The gel system works as promised keeping you cool and comfortable, and the materials and manufacturing quality are evident. Highly recommended.”</p>
                    <p class="bold">Bradley F.</p>
                    <p>Mar 3, 2015</p>
                </div>
            </div>
        </div>
    </div>


    <!-- 45-DAY-TRIAL -->
    <div class="fortyfive-trial">
        <div class="container">
            <h1>75 day trial</h1>
            <p>Experience 75 days of bliss. 600 hours of life changing snooze time, risk-free.</p>
            <div class="button"><a href="/checkout">SHOP NOW</a></div>
        </div>
    </div> <!-- 45-trial -->



    <!-- FOOTER -->
    <div class="footer">
        <div class="container">
            <p>For inquiries, call us on <span class="bold"> 877-762-2882</span> or email <div class="bold">info@loomandleaf.com</div></p>
            </br>
            <p>Office hours: <span class="bold">Monday - Friday, 9:00 am - 6:00 pm. EST</span></p>
            <div class="icon-row">
                <a class="linkedin" href="https://www.linkedin.com/company/9296695?trk=tyah&trkInfo=idx%3A2-1-6%2CtarId%3A1424810297152%2Ctas%3Aloom%26l"><img src="/images/icon_footer_linkedin.png"></a>
                <a class="youtube" href="https://www.youtube.com/channel/UCnQxToaUgcP2qnTgRVR6vTQ"><img src="/images/icon_footer_tube.png"></a>
                <a class="gplus"href="https://plus.google.com/u/0/b/104213153584601037100/104213153584601037100/about"><img src="/images/icon_footer_plus.png"></a>
                <a class="twitter" href="https://twitter.com/LoomAndLeaf"><img src="/images/icon_footer_twitter.png"></a>
                <a class="facebook" href="https://www.facebook.com/pages/LoomLeaf/810500152377742?ref=hl"><img src="/images/icon_footer_facebook.png"></a>
                <a class="instagram" href="https://instagram.com/loomandleaf/"><img src="/images/icon_footer_instagram.png"></a>
                <a class="pinterest" href="https://www.pinterest.com/loomandleaf/"><img src="/images/icon_footer_pinterest.png"></a>
            </div>
        </div> <!-- container -->
    </div> <!-- footer -->





</div>