<!-- WHY CHOOSE US -->
<div class="whychooseus page">

    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="container">
            <div class="upper">
                <ul>
                    <a href="/ourcompany"><li>Our Company</li></a>
                    <a href="/requestbrochure"><li>Request Brochure</li></a>
                    <a href="/reviews"><li>Reviews</li></a>
                    <a href="/contact"><li>Contact</li></a>
                    <a href="tel:877-672-2882" class="bold" href="#"><li><img class="phone-icon" src="/images/img_phone.png">1-877-672-2882</li></a>
                </ul>
            </hr>
            </div> <!-- upper navigation-->
            <div class="lower">
                <a href="/"><img class="logo" src="/images/logo.png"></a>
                <ul>
                    <a href="/ourmattress"><li>Our luxury mattress</li></a>
                    <a href="/comfortlevels"><li>Comfort levels</li></a>
                    <a class="active" href="/whychooseus"><li>The L&L way</li></a>
                    <a href="/greenandlocal"><li>Green & local</li></a>
                    <a href="/healthandcooling"><li>Health & cooling</li></a>
                    <a class="shop" href="/checkout"><li><img class="cart-icon" src="/images/img_shoppingcart.png">SHOP NOW</li></a>
                </ul>
            </div> <!-- lower navigation-->
        </div>
    </div> <!-- navigation -->
    <div class="ashamed-nav"></div>

    <!-- MOBILE NAVIGATION -->
    <div class="mobile-navigation">
      <div class="logo"><img class="logo" src="/images/logo.png"></div>
      <div id="hamburger-container"><img id="hamburger-button" src="/images/hamburger.png"></div>
      <ul id="mobile-nav">
        <a href="/"><li>Home</li></a>
        <a href="/ourmattress"><li>Our luxury mattress</li></a>
        <a href="/comfortlevels"><li>Comfort levels</li></a>
        <a class="active" href="/whychooseus"><li>The L&L way</li></a>
        <a href="/greenandlocal"><li>Green & local</li></a>
        <a href="/healthandcooling"><li>Health & cooling</li></a>
        <a class="shop" href="/checkout"><li>SHOP NOW</li></a>
        <a href="/ourcompany"><li>Our Company</li></a>
        <a href="/requestbrochure"><li>Request Brochure</li></a>
        <a href="/reviews"><li>Reviews</li></a>
        <a href="/contact"><li>Contact</li></a>
        <a class="bold" href="#"><li>1-877-672-2882</li></a>
      </ul>
    </div>
    <div class="ashamed-nav-mobile"></div>



    <!-- HERO SECTION -->
    <div class="hero">
        <div class="container">
            <h1>We perfected the customer experience</h1>
            <p>With these simple principles</p>
                <!-- NOT SURE HOW WE'RE DOING THIS SECTION YET -->
         <!--        <p>Goodbye pushy sales folk. This is a commission free zone. We take care of our team so they take care of you.</p> -->
                <div class="content-container">
                    <img class="service-icon" src="/images/icon_whyus_callus.png">
                    <h3>We're proactive in catering to you</h3>
                    <p class="service-item">We schedule and follow up during the delivery process, which keeps everyone on cloud nine.</p>
                </div>
         <!--        <p>Your delivery includes the added convenience of installation. We have 32 fulfillment centers around the nation to keep your new memory foam traveling short distances. And we'll even remove your old mattress.</p>
                <p>There's no confusion - we're the only company you ever deal with. We source craft and retail Loom & Leaf online, so there's no run around if any issues arise.</p>
                <p>Call or chat with us online with any question, whatsoever. At this point in the next 15 years. Even if it's just to say hello.</p>
                 -->
                 <div class="white-container">
                </div>
        </div> <!-- container -->
    </div> <!-- hero -->



    <!-- THREE POINTS SECTION -->
    <div class="three-points-section">
        <div class="container">
            <h2>More than just service</h2> 
            <h2 class="bot">We’re your luxury mattress concierge</h2>
            <div class="icon-section">
                <span class="installation icon"></span>
                <h3>We install and take your old mattress</h3>
                <p>After you place an order, we call to schedule a delivery time for when the mattress is completed. Around a day before your scheduled delivery, we call to plan your 4- hour delivery window. There is no cancellation fee for rescheduling anytime but the day of delivery. If our drivers are late, a dispatcher will notify you and you can reschedule at no cost or cancel the order for a full refund, including original delivery fee. If you miss the delivery, the merchandise returns with our drivers and you can either reschedule the installation (delivery fee) or cancel the order for a full refund (minus original delivery fee).</p>
            </div>
            <div class="icon-section">
                <span class="forty-five-trial icon"></span>
                <h3 class="top">75 day in-home trial</h3>
                <h3>No penalty, pick-up or restocking fees</h3>
                <p>We urge you to test and assess our mattress. Because a bed needs time to break in, time to settle. This is the best way to buy — it’s safer and more secure. We claim to offer the best mattress you’ve ever had. You don’t sign anything, there’s absolutely no fees, and if you don’t like it—you don’t pay for it. It makes sense for us to live up to our word. But during your trial, if you decide to return your mattress for any reason, you’ll receive a full refund, with no fees whatsoever except the original delivery charge. We never restock used mattresses, we donate them throughout our non-profit network. If you’d like to try another comfort level, we’ll exchange it for a flat rate of $95.</p>
            </div>
            <div class="icon-section">
                <span class="satisfaction icon"></span>
                <h3>We strive for guaranteed satisfaction</h3>
                <p>We're confident we’ll exceed your expectations from the day of delivery and beyond, as our Loom & Leaf continues to perform for you. We’ve had a very successful reaction to being honest with expectations from the start, educating customers about the differences between us and other ultra-premium beds using the objective measure of comparison. Shop online at a leisurely pace, there are no illusions here. Call or chat online with any questions, we’re constantly monitoring social media and emails to make sure we don’t miss anyone.</p>
            </div>
        </div> <!-- container -->
    </div> <!-- 3 POINTS SECTION -->



    <!-- 2-COLUMN SECTION -->
    <div class="two-columns">
        <div class="left"> 
            <!-- video goes here -->
        </div> <!-- left -->
        <div class="right">
            <div class="container">
                <h3>Luxury doesn’t come stuffed in a box</h3>
                <p class="subheader">Thanks to our concierge team</p>
                <p>Our delivery is more than just a delivery— it’s a complimentary premium service that includes installation and mattress removal. Our concierge team transports your new Loom & Leaf whole and stable, delivers and sets it up around your schedule and can even remove your old mattress.</p>
            </div>
        </div> <!-- right -->
    </div> <!-- 2-columns -->


    <!-- BUSINESS MODEL -->
    <div class="business-model">
        <div class="container">
            <span class="briefcase-icon animated infinite pulse"></span>
            <h2>We pledge the truth and nothing but the truth</h2>
            <p class="subheader">We built an honest and direct relationship with customers, factories and suppliers.</p>
            <!-- <span class="business-model"></span> -->
            <img class="business-model" src="/images/img_businessmodel.png">
            <p class="left">We partner with 12 established factories across America allowing us to be a nimble e-commerce business with a low overhead.</p>
            <p class="middle">Since we only sell online, we’re able to focus on building our reputation directly with the customer. We don’t need retail stores, brokers or middlemen (who markup over 140%), and since we don’t have retail storefronts we pass the savings directly to you.</p>
            <p class="right">We built a distribution network with over 30 fulfillment centers nationwide serviced by entrepreneurial teams. We’re the only e-commerce business within our industry to remain exclusively online while offering installation, nationwide.</p>
        </div>
    </div>



    <!-- CALL TO ACTION -->
    <div class="call-to-action">
        <div class="container">
            <h2>Hold your mattress to a higher standard</h2>
            <p>The only thing more natural is sleeping on a cloud. Only $1,300.</p>
            <div class="button animated infinite pulse"><a href="/checkout">SHOP NOW</a></div>
        </div>
    </div>


    <!-- CHART SECTION -->
    <div class="chart">
        <div class="container">
            <h1>An objective measure of comparison</h1>
            <p>Transparency and honesty is a passion of ours. We think it’s the best way for our customers to know what they are getting. Other companies rely on clever marketing and catchy trademarks to disguise their specs and remain vague about how or why the science works. We don’t.</p>
            <table>
                <tr>
                    <th></th>
                    <th>Loom & Leaf</th>
                    <th>Tempurpedic Cloud Luxe</th>
                </tr>
                <tr>
                    <th>12" Queen Set (Mattress + Box)</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>5lb Foam</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Medical Grade Gel</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Cooling Gel Foam</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Organic Cotton Cover</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Flame Retardant</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Sleep Trial</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Penatly for Trial Return</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
                <tr>
                    <th>Warranty</th>
                    <th class="yes"><img src="/images/icon_check.png"></th>
                    <th class="no"><img src="/images/icon_x.png"></th>
                </tr>
            </table>
        </div> <!-- container -->
    </div> <!-- chart -->



    <!-- FOOTER -->
    <div class="footer">
        <div class="container">
            <p>For inquiries, call us on <span class="bold"> 877-672-2882</span> or email <div class="bold">info@loomandleaf.com</div></p>
            </br>
            <p>Office hours: <span class="bold">Monday - Friday, 9:00 am - 6:00 pm. EST</span></p>
            <div class="icon-row">
                <a class="linkedin" href="https://www.linkedin.com/company/9296695?trk=tyah&trkInfo=idx%3A2-1-6%2CtarId%3A1424810297152%2Ctas%3Aloom%26l"><img src="/images/icon_footer_linkedin.png"></a>
                <a class="youtube" href="https://www.youtube.com/channel/UCnQxToaUgcP2qnTgRVR6vTQ"><img src="/images/icon_footer_tube.png"></a>
                <a class="gplus"href="https://plus.google.com/u/0/b/104213153584601037100/104213153584601037100/about"><img src="/images/icon_footer_plus.png"></a>
                <a class="twitter" href="https://twitter.com/LoomAndLeaf"><img src="/images/icon_footer_twitter.png"></a>
                <a class="facebook" href="https://www.facebook.com/pages/LoomLeaf/810500152377742?ref=hl"><img src="/images/icon_footer_facebook.png"></a>
                <a class="instagram" href="https://instagram.com/loomandleaf/"><img src="/images/icon_footer_instagram.png"></a>
                <a class="pinterest" href="https://www.pinterest.com/loomandleaf/"><img src="/images/icon_footer_pinterest.png"></a>
            </div>
        </div> <!-- container -->
    </div> <!-- footer -->


</div>