//CHECKOUT LESS
.checkout {
  .navigation();

  .ashamed-nav {
    height: 265px;
  }



  // MATTRESS PRICE
  .mattress-price {
    background-color: #f1f0f0;
    padding: 30px 0;
    border-bottom: 1px solid #eeeeee;
    position: fixed;
    width: 100%;
    h2 {
      .h2(@graytext);
      text-align: center;
      padding-bottom: 10px;
      &.price {
        text-align: center;
        color: @lightblue;
        font-weight: 300;
      }
    }
  }



  // COMFORT LEVEL
  .comfort-level {
    .clearfix ();
    .container {
      .shop-container ();
      h2 {
        .h2 (@graytext);
        text-align: center;
        padding: 50px 0 20px;
      }
      .button {
        .shop-button ();
        width: 46%;
        float: left;
        margin-bottom: 50px;
        &:last-child {
          float: right;
        }
      }
    }
  }



  // CHOOSE YOUR SIZE
  .choose-size {
    background-color: #f8f8f8;
    .clearfix ();
    .container {
      .shop-container ();
      h2 {
        .h2 (@graytext);
        text-align: center;
        padding: 50px 0 20px;
      }
      .top-row, .bot-row {
        .button {
          .shop-button ();
          width: 30%;
          float: left;
          margin: 0 4.5% 50px 0;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
      .top-row {
        .button {
          margin-bottom: 10px;
        }
      }
    }
  }



  // FOUNDATION HEIGHT
  .foundation-height {
    .clearfix ();
    .container {
      .shop-container ();
      h2 {
        .h2 (@graytext);
        text-align: center;
        padding: 50px 0 20px;
      }
      .button {
        .shop-button ();
        width: 30%;
        float: left;
        margin: 0 4.5% 50px 0;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }




  // ADD A FRAME
  .add-frame {
    background-color: #f8f8f8;
    .clearfix ();
    .container {
      .shop-container ();
      h2 {
        .h2 (@graytext);
        text-align: center;
        padding: 50px 0 20px;
      }
      .button {
        .shop-button ();
        width: 46%;
        float: left;
        margin: 0 4.5% 50px 0;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }



  // REMOVE OLD MATTRESS
  .remove-mattress {
    .clearfix ();
    .container {
      .shop-container ();
      h2 {
        .h2 (@graytext);
        text-align: center;
        padding: 50px 0 20px;
      }
      .button {
        .shop-button ();
        width: 46%;
        float: left;
        margin: 0 4.5% 50px 0;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }




  // CHECK SHIPPING COSTS
  .check-shipping {
    .clearfix ();
    background-color: #f8f8f8;
    .container {
      .shop-container ();
      h2 {
        .h2 (@graytext);
        text-align: center;
        padding: 50px 0 10px;
      }
      p {
        text-align: center;
        color: @graytext;
        margin-bottom: 10px;
      }
      input {
        padding: 10px;
        display: block;
        margin: 0 auto 50px;
        border-radius: 5px;
      }
    }
  }



  // BUTTONS
  .button-row {
    .button {
        margin: 50px 0;
        text-align: center;
        a {
          .transition (opacity);
          color: @white;
          padding: 10px 30px;
          margin-top: 50px;
          background-color: @salmon;
          font-weight: 600;
          &:hover {
            opacity: .6;
            .transition (opacity);
          }
        }
      }
  }



  // FOOTER
  .footer {
    .footer ();
  }





  @media screen and (max-width: 1300px) {
    .comfort-level {
      .container {
        width: 90%;
      }
    }

    .choose-size {
      .container {
        width: 90%;
        .top-row, .bot-row {
          .button {
            width: 29%;
          }
        }
      }
    }

    .foundation-height {
      .container {
        width: 90%;
        .button {
          width: 29%;
          p {
            transform: translateY(10%);
          }
        }
      }
    }


    .add-frame {
      .container {
        width: 90%;
      }
    }


    .remove-mattress {
      .container {
        width: 90%;
      }
    }


    .check-shipping {
      .container {
        width: 90%;
      }
    }


    .button-row {
      .button {
        a {
          padding: 20px 30px;
          border-radius: 3px;
          &:hover {
            opacity: 1;
          }
        }
      }
    }



    .footer {
      display: none;
    }


  } //media





}