// COMFORT LEVELS
.comfortlevels {
  .navigation();  


  // HERO SECTION
  .hero {
    .hero ();
    // .at2x('/images/hero_comfort.png', auto, 900px);
    background-image: url('/images/hero_comfort.png');
    .clearfix ();
    background-size: 100%;
    .container {
      padding: 150px 100px 0;
      max-width: 1200px;
      width: 80%;
      margin: 0 auto;
      h1 {
        .fadein-animation (1s);
        .h1 (@graytext);
        text-align: center;
      }
      p {
        .fadein-animation (3s);
        text-align: center;
      }
      .button-row {
        .clearfix ();
        width: 260px;
        margin: 0 auto;
        // padding-bottom: 100px;
        .button {
          .fadein-animation (5s);
          margin: 30px auto;
          text-align: center;
          &.left {
            display: block;
            float: left;
            a {
              .transition (opacity);
              color: @white;
              padding: 10px 30px;
              margin-top: 50px;
              background-color: #2b4156;
              font-weight: 600;
              &:hover {
                opacity: .6;
                .transition (opacity);
              }
            }
          }
          &.right {
            display: block;
            float: right;
            a {
              .transition (opacity);
              color: @white;
              padding: 10px 30px;
              margin-top: 50px;
              background-color: @lightblue;
              font-weight: 600;
              &:hover {
                opacity: .6;
                .transition (opacity);
              }
            }
          }
        }
      } // button-row
    } // container
    .firmscale {
      .container {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
        padding-top: 100px;
        h3 {
          .h3 (@graytext);
          padding-bottom: 30px;
          text-align: center;
        }
        #relaxedfirm-snippet {
          display: none;
          .transition (opacity);
          h3 {
            .fadein-animation (500ms);
            .h3 (#2b4156);
            padding-bottom: 5px;
            text-align: center;
          }
          p {
            .fadein-animation (500ms);
            font-size: .85em;
            color: #2b4156;
          }
        }
        #firm-snippet {
          display: none;
          .transition (opacity);
          h3 {
            .fadein-animation (500ms);
            .h3 (@lightblue);
            padding-bottom: 5px;
            text-align: center;
          }
          p {
            .fadein-animation (500ms);
            font-size: .85em;
            color: @lightblue;
          }
        }
        .firmscale-container {
          .clearfix ();
          width: 595px;
          margin: 30px auto;
          &.non-hover {
            padding-top: 50px;
          }
          ul {
            .fadein-animation (3s);
            margin: 0 auto;
            margin-left: 20px;
            li {
              height: 20px;
              width: 20px;
              border-radius: 20px;
              border: 1px solid #2b4156;
              // background-color: #2b4156;
              float: left;
              margin: 0 10px;
              &.relaxed-firm {
                background-color: #2b4156;
                border: none;
                &:hover {
                  cursor: pointer;
                  // angular - make the relaxed-firm info appear on hover
                }
              }
              &.firm {
                background-color: @lightblue;
                border: none;
                &:hover {
                  cursor: pointer;
                  // angular - make the firm info appear on hover
                }
              }
              &:first-child {
                padding-right: 30px;
                background-color: transparent;
                border: none;
              }
              &:last-child {
                background-color: transparent;
                border: none;
                // padding-left: 30px;
              }
            }
          }
          .directions {
            .clearfix ();
            font-weight: 600;
            color: #282b3b;
            opacity: .3;
            font-size: .7em;
            border-top: 1px dashed #282b3b;
            display: block;
            float: right;
            right: 150px;
            position: relative;
            margin-top:10px;
            padding: 0 10px;
          }
        }
      }
    }
  }



  // SLEEP POSITIONS
  .sleep-positions {
    .bkgd_stripes ();
    .container {
      max-width: 1200px;
      width: 50%;
      margin: 0 auto;
      padding: 100px 0;
      h2 {
        .fadein-animation (5s);
        .h2 (@white);
        text-align: center;
      }
      .img-container {
        width: 625px;
        height: 113px;
        margin: 30px auto;
        .position-image {
          .fadein-animation (7s);
          display: block;
          margin: 30px auto;
          width: 100%;
        }
      }
      p {
        .fadein-animation (9s);
        color: @white;
        text-align: center;
      }
    }
  } //sleep positions




  // FIRM COMPARISONS
  .firm-comparison {
    .clearfix ();
    .left {
      .fadein-animation (5s);
      width: 50%;
      float: left;
      background-color: @white;
      height: 448px;
      .container {
        padding: 70px 50px 100px 0;
        width: 60%;
        float: right;
        .quote-icon {
          .at2x('/images/img_quotes.png', 89px, 69px);
          background-repeat: no-repeat;
          height: 69px;
          width: 89px;
          margin: 0 auto;
          display: block;
          margin-bottom: 20px;
        }
        h3 {
          .fadein-animation (7s);
          .h3 (@graytext);
          text-align: center;
          padding-bottom: 20px;
        }
        p {
          .fadein-animation (7s);
          text-align: center;
          &.bold {
            font-weight: 600;
            padding-top: 20px;
          }
        }
        .button {
          margin: 30px 0;
          text-align: center;
          a {
            .transition (opacity);
            color: @white;
            padding: 10px 30px;
            margin-top: 50px;
            background-color: #2b4156;
            font-weight: 600;
            &:hover {
              opacity: .6;
              .transition (opacity);
            }
          }
        }
      }
    }
    .right {
      .fadein-animation (7s);
      width: 50%;
      float: right;
      background-color: #ebebeb;
      height: 448px;
      .container {
        padding: 70px 0 100px 50px;
        width: 60%;
        float: left;
        .quote-icon {
          .at2x('/images/img_quotes.png', 89px, 69px);
          background-repeat: no-repeat;
          height: 69px;
          width: 89px;
          margin: 0 auto;
          display: block;
          margin-bottom: 20px;
        }
        h3 {
          .h3 (@graytext);
          text-align: center;
          padding-bottom: 20px;
        }
        p {
          text-align: center;
          &.bold {
            font-weight: 600;
            padding-top: 20px;
          }
        }
        .button {
          margin: 30px 0;
          text-align: center;
          a {
            .transition (opacity);
            color: @white;
            padding: 10px 30px;
            margin-top: 50px;
            background-color: @lightblue;
            font-weight: 600;
            &:hover {
              opacity: .6;
              .transition (opacity);
            }
          }
        }
      }
    }
  }
  .photo-separator {
    .clearfix ();
    .at2x('/images/img_comfort_separator.png', auto 250px);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 170px;
  }



  // FORTY-FIVE-TRIAL
  .fortyfive-trial {
    .clearfix ();
    .forty-five-trial ();
    .container {
      max-width: 500px;
      width: 50%;
      h1 {
        .h1 (@white);
        text-align: center;
      }
      p {
        color: @white;
        text-align: center;
      }
      .button {
        margin: 30px 0;
        text-align: center;
        a {
          .transition (opacity);
          color: @white;
          padding: 10px 30px;
          margin-top: 50px;
          background-color: @salmon;
          font-weight: 600;
          &:hover {
            opacity: .6;
            .transition (opacity);
          }
        }
      }
    }
  }


  // FOOTER
  .footer {
    .footer ();
  }





  @media screen and (max-width: 1200px) {
    .hero {
      background-size: auto;
    }

    .sleep-positions {
      .container {
        h2 {
          margin-bottom: 20px;
        }
        .img-container {
          width: auto;
          margin: 30px auto;
          .position-image {
            width: 70%;
            margin: 0 auto;
          }
        }
      }
    }
  }




  @media screen and (max-width: 1000px) {
    .hero {
      background-size: auto;
      width: 100%;
      .container {
        width: 90%;
        padding: 100px 0;
        h1 {
          font-size: 2em;
        }
        p {
          font-size: .85em;
        }
        .button-row {
          margin-top: 20px;
          .button {
            &.left {
              a {
                padding: 20px 20px;
                &:hover {
                  opacity: 1;
                }
              }
            }
            &.right {
              a {
                padding: 20px 35px;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      .firmscale {
        display: none;
      }
    }



    // SLEEP POSITIONS
    .sleep-positions {
      .container {
        width: 90%;
        display: block;
        .img-container {
          margin: 30px auto;
          width: 100%;
        }
        p {
          margin-top: 30px;
          font-size: .85em;
          line-height: 1.6;
        }
      }
    }



    // FIRM COMPARISON
    .firm-comparison {
      .left {
        width: 100%;
        height: 550px;
        .container {
          float: none;
          margin: 50px auto 0;
          padding: 100px 0;
          .button {
            a {
              padding: 20px 30px;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
      .right {
        width: 100%;
        height: 550px;
        .container {
          float: none;
          margin: 50px auto 0;
          padding: 100px 0;
          .button {
            a {
              padding: 20px 30px;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }



    // PHOTO SEPARATOR
    .photo-separator {
      height: 50px;
    }



    // FIRM COMPARISON QUOTES
    .firm-comparison {
      .left {
        .container {
          width: 90%;
          p {
            font-size: .85em;
            line-height: 1.6;
          }
        }
      }
      .right {
        .container {
          width: 90%;
          p {
            font-size: .85em;
            line-height: 1.6;
          }
        }
      }
    }




    // FORTYFIVE TRIAL
    .fortyfive-trial {
      .container {
        width: 80%;
        padding: 100px 20px 50px;
        h2 {
          text-align: center;
          font-size: 2em;
        }
        p {
          font-size: .9em;
          line-height: 2;
        }
        .button {
          margin-top: 50px;
          a {
            padding: 20px 30px;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }





    // FOOTER
    .footer {
      display: none;
    }


  } // media




}