// CONTACT
.contact {
  .navigation();



  // CONTENT
  .content {
    .clearfix ();
    h1 {
      .fadein-animation (2s);
      .h1 (@graytext);
      padding: 100px 0 100px;
      text-align: center;
    }
    .container {
      // max-width: 340px;
      max-width: 500px;
      // width: 65%;
      margin: 0 auto;
      .success-message {
        display: none;
        background-color: rgb(92, 184, 135);
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: -30px;
        h3 {
          .h3 (@white);
          text-align: center;
        }
        p {
          text-align: center;
          font-size: .8em;
          color: @white;
        }
      }
      .error-message {
        display: none;
        background-color: @salmon;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: -30px;
        h3 {
          .h3 (@white);
          text-align: center;
        }
        p {
          text-align: center;
          font-size: .8em;
          color: @white;
        }
      }
      form {
        .fadein-animation (5s);
        .clearfix ();
        // width: 65%;
        margin: 0 auto;
        // padding-bottom: 100px;
        span {
          float: left;
          padding-bottom: 10px;
        }
        label {
          float: left;
          display: inline-block;
          padding-bottom: 10px;
        }
        input, textarea {
          display: inline-block;
          float: left;
          padding: 10px;
          border-radius: 10px;
          margin-bottom: 30px;
          width: 500px;
          border: 1px solid #aaaaaa;
          &:focus {
            border: 1px solid @lightblue;
          }
          &.questionForm-button {
            text-align: center;
            float: none;
            display: block;
            margin-top: 50px;
            width: 300px;
            margin: 0 auto;
            padding: 20px 0;
            display: block;
            background-color: @salmon;
            color: @white;
            border: none;
            font-size: 1em;
            .transition (opacity);
            &:hover {
              opacity: .6;
              .transition (opacity);
              cursor: pointer;
            }
          }
        }
        textarea {
          height: 100px;
          border: 1px solid #999999;
        }
      }
    }
  }




  // FOOTER
  .footer {
    padding-top: 200px;
    .footer ();
  }







  @media screen and (max-width: 1300px) {
    .content {
      .container {
        .clearfix ();
        width: 300px;
        form {
          .clearfix ();
          // width: 100%;
          // input {
          //   width: 300px;
          //   // display: table-cell;
          //   // width: 107%;
          //   padding: 20px;
          // }
          // textarea {
          //   // display: table-cell;
          //   width: 94%;
          // }
          // .button {
          //   a {
          //     padding: 20px 100px;
          //     &:hover {
          //       opacity: 1;
          //     }
          //   }
          // }
        label {
          float: left;
          display: inline-block;
          padding-bottom: 10px;
        }
        input, textarea {
          display: inline-block;
          float: left;
          padding: 20px 10px;
          border-radius: 10px;
          margin-bottom: 30px;
          width: 300px;
          border: 1px solid #aaaaaa;
          &:focus {
            border: 1px solid @lightblue;
          }
          &.questionForm-button {
            text-align: center;
            float: none;
            display: block;
            margin-top: 50px;
            width: 300px;
            margin: 0 auto 50px;
            padding: 20px 0;
            display: block;
            background-color: @salmon;
            color: @white;
            border: none;
            font-size: 1em;
            &:hover {
              opacity: 1;
            }
          }
        }
        }
      }
    }  




    // FOOTER
    .footer {
      display: none;
    }


  } // media




}