// CONTACT
.contact {

  // NAVIGATION
  .navigation {
    .navigation ();
  }
  .ashamed-nav {
    height: 122px;
  }



  // CONTENT
  .content {
    .container {
      max-width: 700px;
      width: 65%;
      margin: 0 auto;
      h1 {
        .h1 (@graytext);
        padding: 100px 0 100px;
        text-align: center;
      }
      form {
        width: 65%;
        margin: 0 auto;
        padding-bottom: 100px;
        span {
          float: left;
          padding-bottom: 10px;
        }
        label {
          float: left;
          display: inline-block;
        }
        input, textarea {
          display: inline-block;
          float: left;
          padding: 10px;
          border-radius: 10px;
          width: 430px;
          margin-bottom: 30px;
        }
        textarea {
          height: 100px;
          border: 1px solid #999999;
        }
        .button {
          text-align: center;
          margin-top: 50px;
          a {
            .transition (opacity);
            color: @white;
            padding: 10px 200px;
            margin-top: 150px;
            background-color: @salmon;
            font-weight: 600;
            &:hover {
              opacity: .6;
              .transition (opacity);
            }
          }
        }
      }
    }
  }




  // FOOTER
  .footer {
    padding-top: 200px;
    .footer ();
  }




}