// HEALTH AND COOLING PAGE
.healthandcooling {
  .navigation();  


  // HERO
  .hero {
    .hero ();
    background-color: #f6f6f6;
    position: relative;
    // .clearfix ();
    .hero-mattress {
      // .clearfix ();
      .fadein-animation (5s);
      display: block;
      margin: 0 auto;
      top: -125px;
      position: relative;
      width: 785px;
    }
    .container {
      // .clearfix ();
      position: relative;
      max-width: 1200px;
      width: 80%;
      margin: 0 auto;
      padding: 100px 0;
      h1 {
        .fadein-animation (1s);
        .h1 (@graytext);
        text-align: center;
      }
      .subheader {
        .fadein-animation (3s);
        text-align: center;
        color: @graytext;
      }
      .point {
        position: relative;
        width: 25%;
        float: left;
        margin: 20px 4.1% 0;
        h3 {
          .h3 (@graytext);
          padding-bottom: 5px;
        }
        &.one {
          .fadein-animation (2s);
          text-align: right;
        }
        &.two {
          .fadein-animation (4s);
          text-align: center;
          padding-top: 60px;
        }
        &.three {
          .fadein-animation (6s);
          text-align: left;
          padding-top: 15px;
        }
      }
    }
  }



  // THREE POINTS
  .three-points-section {
    .clearfix ();
    // background-color: #000000;
    .at2x('/images/img_health_bkgd.png');
    background-size: 100%;
    background-repeat: no-repeat;
    .container {
      .clearfix ();
      max-width: 1200px;
      width: 80%;
      margin: 0 auto;
      padding: 100px 0;
      h2 {
        .fadein-animation (5s);
        .h2 (@white);
        text-align: center;
      }
      .plus-section {
        width: 40%;
        margin: 0 auto;
        top: 115px;
        position: relative;
        .plus {
          .fadein-animation (7s);
          .at2x('/images/icon_plus_white.png', 50px, 50px);
          background-repeat: no-repeat;
          height: 50px;
          width: 50px;
          display: block;
          position: relative;
          &.one {
            float: left;
          }
          &.two {
            float: right;
          }
        }
      }
      // HERE COPY AND PASTE
      .icon-section {
        width: 25%;
        position: relative;
        float: left;
        padding: 0 4.16%;
        .icon {
          .fadein-animation (9s);
          height: 170px;
          width: 170px;
          // background-color: @graytext;
          margin: 10px auto 30px;
          display: block;
          &.circulation {
            .at2x('/images/icon_health_circulation.png', 170px, 170px);
          }
          &.active {
            .at2x('/images/icon_health_active.png', 170px, 170px);
          }
          &.healthyspine {
            .at2x('/images/icon_health_joints.png', 170px, 170px);
          }
        }
        h3 {
          .fadein-animation (9s);
          .h3 (@white);
          padding-bottom: 10px;
          text-align: center;
        }
        p {
          text-align: center;
          color: @white;
          font-size: .85em;
          line-height: 1.6;
        }
        .button {
          margin: 30px 0;
          text-align: center;
          a {
            .transition (opacity);
            color: @white;
            padding: 10px 30px;
            margin-top: 50px;
            background-color: @salmon;
            font-weight: 600;
            &:hover {
              opacity: .6;
              .transition (opacity);
            }
          }
        }
      }
    }
  }


  // TWO COLUMNS
  .two-columns {
    .clearfix ();
    .left {
      .at2x('/images/img_health_gel.png', auto, 800px);
      background-size: 100%;
      // background-color: #000000;
      display: block;
      float: left;
      width: 50%;
      height: 600px;
    }
    .right {
      width: 50%;
      float: right;
      .container {
        max-width: 500px;
        padding: 70px 100px 36px;
        h2 {
          .h2 (@graytext);
          padding-bottom: 40px;
        }
        .item {
          padding-bottom: 30px;
          h3 {
            .h3 (@graytext);
            padding-bottom: 10px;
          }
          p {
            color: @graytext;
            line-height: 1.5;
            font-size: .85em;
            &:last-child {
              padding-bottom: 0px;
            }
          }
        }
      }
    }
  }



    // FORTY-FIVE-TRIAL
  .fortyfive-trial {
    .clearfix ();
    .forty-five-trial ();
    .container {
      max-width: 500px;
      width: 50%;
      h1 {
        .h1 (@white);
        text-align: center;
      }
      p {
        color: @white;
        text-align: center;
      }
      .button {
        margin: 30px 0;
        text-align: center;
        a {
          .transition (opacity);
          color: @white;
          padding: 10px 30px;
          margin-top: 50px;
          background-color: @salmon;
          font-weight: 600;
          &:hover {
            opacity: .6;
            .transition (opacity);
          }
        }
      }
    }
  }




  // FOOTER
  .footer {
    .footer ();
  }





  @media screen and (max-width: 1200px) {
    .hero {
      .clearfix ();
      .container {
        .hero-mattress {
          width: 70%;
          top: -55px;
        }
      }
    }

    .three-points-section {
      .container {
        padding: 50px 0;
      }
    }

    .two-columns {
      .left {
        background-size: auto;
        height: 600px;
      }
      .right {
        .container {
          padding-bottom: 0px;
        }
      }
    }
  }






  @media screen and (max-width: 1000px) {
    .hero {
      .container {
        .clearfix ();
        .hero-mattress {
          width: 100%;
          top: 100px;
        }
        .point {
          width: 100%;
          float: left;
          text-align: center;
          &.one, &.two, &.three {
            text-align: center;
            padding: 0;
            margin-top: 70px;
          }
        }
      }
    }



    // THREE POINTS SECTION
    .three-points-section {
      background-size: auto;
      .container {
        .plus-section {
          display: none;
        }
        .icon-section {
          width: 100%;
          margin: 50px 0;
        }
      }
    }




    // TWO COLUMNS
    .two-columns {
      .left {
        width: 100%;
        height: 300px;
      }
      .right {
        width: 100%;
        .container {
          padding: 50px 10%;
          .item {
            p {
              line-height: 1.6;
            }
          }
        }
      }
    }



    // FORTYFIVE-TRIAL
    .fortyfive-trial {
      .container {
        width: 90%;
        padding: 100px 0;
        .button {
          margin-top: 60px;
          a {
            padding: 30px 30px;
          }
        }
      }
    }



    // FOOTER
    .footer {
      display: none;
    }


  } // media
  


}