// HOME PAGE
.home {
  // NAVIGATION
  .navigation {
    .navigation();
  }
  .mobile-navigation {
    display: none;
  }
  .ashamed-nav {
    height: 122px;
  }

  // HERO SECTION
  .hero {
    .hero();
    .at2x('/images/hero_home.png');
    height: 650px;
    background-size: 100%;
    background-repeat: no-repeat;
    // display: table;
    .clearfix ();
    .mobile {
      display: none;
    }
    .container {
      // display: table-cell;
      position: relative;
      .clearfix ();
      max-width: 1200px;
      width: 80%;
      margin: 0 auto;
      .call-to-action {
        max-width: 500px;
        padding: 20px;
        background-color: rgba(255, 255, 255, .8);
        width: 50%;
        position: absolute;
        top: 200px;
        left: 50px;
        h1 {
          .h1(@graytext);
          float: left;
          padding-bottom: 10px;
        }
        p {
          margin: 20px 0;
          color: @graytext;
        }
        .button {
          margin: 10px 0;
          a {
            .transition (opacity);
            color: @white;
            padding: 10px 50px;
            margin-top: 20px;
            background-color: @salmon;
            font-weight: 600;
            &:hover {
              opacity: .6;
              .transition (opacity);
            }
          }
        }
      }
    } //container
  } //hero
  .extra-points {
    width: 100%;
    background-color: @white;
    opacity: .77;
    position: relative;
    top: -51px;
    ul {
      max-width: 1200px;
      width: 80%;
      margin: 0 auto;
      li {
        color: @graytext;
        width: 24%;
        text-align: center;
        display: inline-block;
        padding: 15px 0;
        font-size: .9em;
      }
    }
  }


  // REVIEW SECTION
  .review {
    .container {
      max-width: 1200px;
      width: 50%;
      margin: 0 auto;
      // OLD STYLES
      // span {
      //   width: 80px;
      //   height: 80px;
      //   display: block;
      //   background-color: #000000;
      //   margin: 30px auto;
      // }
      span {
        color: @salmon;
      }
      p {
        text-align: center;
      }
      h2 {
        .h2 (@graytext);
        text-align: center;
        margin: 20px 0;
      }
      // OLD STYLES
      // .star-icon {
      //   height: 30px;
      //   width: 200px;
      //   margin: 0 auto;
      //   background-color: #000000;
      //   margin-bottom: 100px;
      // }
      .company-icons {
        // .at2x('/images/img_logos.png', 608px, 50px);
        // background-repeat: no-repeat;
        height: 50px;
        width: 608px;
        margin: 20px auto 100px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }



  // 3-ICONS-SECTION
  .three-icons {
    .clearfix ();
    .at2x('/images/img_home_bkgd.png', auto, 630px);
    background-size: 100%;
    background-repeat: no-repeat;
    .container {
      max-width: 1200px;
      width: 80%;
      margin: 0 auto;
      .icon-section {
        width: 25%;
        position: relative;
        float: left;
        padding: 50px 4.16% 70px;
        img {
          display: block;
          margin: 10px auto 30px;
        }
        h3 {
          .h3 (@white);
          padding-bottom: 10px;
          text-align: center;
        }
        p {
          text-align: center;
          color: @white;
        }
        .button {
          margin: 30px 0;
          text-align: center;
          a {
            .transition (opacity);
            color: @white;
            padding: 10px 30px;
            margin-top: 50px;
            background-color: @salmon;
            font-weight: 600;
            &:hover {
              opacity: .6;
              .transition (opacity);
            }
          }
        }
      }
    }
  }



  // 2-COLUMN-SECTION
  .two-columns {
    .clearfix ();
    .left {
      // background-color: #000000;
      display: block;
      float: left;
      width: 50%;
      // height: 395px;
      // background-repeat: no-repeat;
      // .at2x('/images/img_home_passionate.png', 802px, 563px);
      img {
        float: right;
        height: 563px;
        width: 802px;
      }
    }
    .right {
      width: 50%;
      float: right;
      display: table;
      .container {
        max-width: 500px;
        padding: 140px 100px 36px;
        h2 {
          .h2 (@graytext);
          padding-bottom: 20px;
        }
        p {
          color: @graytext;
          line-height: 1.5;
          &.google-title {
            padding: 30px 0 10px;
          }
        }
        .star-icon {
          height: 30px;
          width: 200px;
        }
      }
    }
  }



  // 45-DAY-TRIAL SECTION
  .forty-five-trial {
    .clearfix ();
    .forty-five-trial ();
    .button {
      margin: 30px 0;
      text-align: center;
      a {
        .transition (opacity);
        color: @white;
        padding: 10px 30px;
        margin-top: 50px;
        background-color: @salmon;
        font-weight: 600;
        &:hover {
          opacity: .6;
          .transition (opacity);
        }
      }
    }
  }



  // FOOTER
  .footer {
    .footer ();
  }






  @media screen and (max-width: 413px) {
    .hero {
      height: auto;
      .mobile {
        display: block;
        float: right;
        height: 563px;
        width: auto;
      }
      .container {
        width: 90%;
        .call-to-action {
          width: 100%;
          top: 100px;
          left: 0;
          padding: 0;
          h1 {
            padding-top: 50px;
            font-size: 2em;
            text-align: center;
          }
          p {
            font-size: .85em;
            text-align: center;
          }
          .button {
            margin: 10px 20px 50px;
            a {
              display: block;
              text-align: center;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    } // hero

    .extra-points {
      display: none;
    }


    // REVIEW
    .review {
      .container {
        width: 80%;
        margin-top: 20px;
        h2 {
          margin-top: 70px;
        }
        p {
          font-size: .9em;
          line-height: 2;
        }
        .company-icons {
          width: 100%;
        }
      }
    }



    // THREE-ICONS
    .three-icons {
      .bkgd_stripes ();
      background-size: auto;
      background-repeat: repeat;
      height: 1400px;
      .container {
        .icon-section {
          width: 100%;
          padding-bottom: 30px;
          .button {
            &:hover {
              a {
                opacity: 1;
              }
            }
          }
        }
      }
    }


    // TWO-COLUMNS
    .two-columns {
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
        .container {
          padding: 50px 20px 50px;
          h2 {
            text-align: center;
          }
          p {
            line-height: 2;
            font-size: .9em;
            text-align: center;
          }
          .star-icon {
            margin: 0 auto;
          }
        }
      }
    }


    .forty-five-trial {
      .container {
        width: 80%;
        padding: 50px 20px 50px;
        h2 {
          text-align: center;
          font-size: 2em;
        }
        p {
          font-size: .9em;
          line-height: 2;
        }
        .button {
          margin-top: 30px;
          a {
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }




    .footer {
      display: none;
    }



  } // max-width: 413px


}






