// OUR MATTRESS
.ourmattress {
  .navigation();  


  // HERO SECTION
  .hero {
    .hero();
    background-color: @bkgdgray;
    .container {
      position: relative;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      padding: 70px 0 0;
      h1 {
        .fadein-animation (2s);
        .h1 (@graytext);
        text-align: center;
      }
      .left {
        // background-color: #000000;
        display: block;
        // float: left;
        // width: 50%;
        height: 473px;
        margin: 84px 0 0;
        .at2x('/images/hero_mattress.png', 944px, 473px);
        background-repeat: no-repeat;
        .custom-transition (margin-top, 1s);
        &:hover {
          margin-top: 54px;
          .custom-transition (margin-top, 1s);
          cursor: pointer;
        }
        .mobile {
          display: none;
        }
      }
      .right {
        top: 140px;
        right: 0;
        position: absolute;
        margin: 40px 0 0;
        width: 50%;
        float: right;
        .point {
          float: left;
          padding-left: 20px;
          margin-bottom: 30px;
          width: 80%;
          &.one {
            .fadein-animation (1s);
          }
          &.two {
            .fadein-animation (3s);
          }
          &.three {
            .fadein-animation (5s);
          }
          &.four {
            .fadein-animation (7s);
          }
          .number {
            display: block;
            float: left;
            margin-right: 15px;
          }
          h3 {
            .h3 (@graytext);
            padding: 5px 0;
          }
          p {
            padding-left: 48px;
          }
        }
      }
    } //container
  } //hero


  // CALL TO ACTION
  .call-to-action {
    .bkgd_stripes ();
    width: 100%;
    // background-color: #000000;
    h2 {
      .h2 (@white);
      text-align: center;
      padding-top: 100px;
    }
    p {
      color: @white;
      text-align: center;
      padding-top: 10px;
    }
    .button-row {
      .clearfix ();
      width: 330px;
      margin: 0 auto;
      padding-bottom: 100px;
      .button {
        margin: 30px auto;
        text-align: center;
        &.left {
          display: block;
          float: left;
          a {
            .transition (opacity);
            color: @white;
            padding: 10px 30px;
            margin-top: 50px;
            background-color: #2b4156;
            font-weight: 600;
            &:hover {
              opacity: .6;
              .transition (opacity);
            }
          }
        }
        &.right {
          display: block;
          float: right;
          a {
            .transition (opacity);
            color: @white;
            padding: 10px 30px;
            margin-top: 50px;
            background-color: @lightblue;
            font-weight: 600;
            &:hover {
              opacity: .6;
              .transition (opacity);
            }
          }
        }
      }
    } // button-row
  } //call to action


  // 2 MORE POINTS
  .two-points {
    .clearfix ();
    .container {
      max-width: 1200px;
      margin: 0 auto;
      width: 70%;
      padding: 80px 0;
      .highermattress-icon {
        .at2x('/images/icon_mattress_hearthands.png', 82px, 77px);
        background-repeat: no-repeat;
        height: 77px;
        width: 82px;
        display: block;
        margin: 20px auto;
      }
      h2 {
        .h2 (@graytext);
        text-align: center;
      }
      .point {
        width: 47%;
        display: block;
        margin: 80px 0 100px;
        &.left {
          float: left;
          .american-icon {
            .at2x ('/images/icon_mattress_flag.png', 92px, 57px);
            background-repeat: no-repeat;
            height: 57px;
            width: 92px;
            float: left;
          }
          .content {
            margin-left: 120px;
          }
        }
        &.right {
          float: right;
          .sleep-icon {
            .at2x ('/images/icon_mattress_light.png', 34px, 57px);
            background-repeat: no-repeat;
            height: 57px;
            width: 34px;
            float: left;
          }
          .content {
            margin-left: 70px;
          }
        }
      }
    }
  }



  // CHART SECTION
  .chart {
    background-color: #000000;
    .at2x('/images/img_mattress_chartbkgd.png', auto, auto);
    background-size: 100%;
    background-repeat: no-repeat;
    .container {
      max-width: 1200px;
      width: 80%;
      margin: 0 auto;
      h1 {
        .h1 (@white);
        padding-top: 80px;
        text-align: center;
      }
      p {
        text-align: center;
        color: @white;
        padding-bottom: 50px;
      }
      table {
        margin: 0 auto;
        color: @white;
        width: 60%;
        font-size: .8em;
        padding-bottom: 100px;
        th {
          border-bottom: 1px solid #888888;
          border-right: 1px solid #888888;
          width: 33%;
          text-align: center;
          padding: 10px;
          &:first-child {
            text-align: left;
          }
          &.yes {
            background-color: #668fb6;
            img {
              margin: 0 auto;
            }
          }
          &.no {
            img {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }



  // COMPARE SECTION
  .compare-section {
    .container {
      max-width: 1200px;
      width: 60%;
      margin: 0 auto;
      .compare-icon {
        margin: 70px auto 10px;
      }
      h2 {
        .h2 (@graytext);
        text-align: center;
      }
      p {
        color: @graytext;
        text-align: center;
        padding: 20px 0 20px;
      }
    }
    .plus {
      .at2x('/images/icon_plus.png', 70px, 70px);
      height: 70px;
      width: 70px;
      display: block;
      position: relative;
      margin: 0 auto;
      top: 290px;
    }
    .left {
      float: left;
      background-color: #ebebeb;
      height: 700px;
      .container {
        float: right;
        padding: 50px 50px 50px 0;
        .photo-left {
          .at2x('/images/img_mattress_cover.png', 306px, 306px);
          width: 306px;
          height: 306px;
          background-repeat: no-repeat;
        }
      }
    }
    .right {
      float: right;
      background-color: #f8f8f8;
      height: 700px;
      .container {
        float: left;
        padding: 50px 0 50px 50px;
        .photo-right {
          .at2x('/images/img_mattress_foam.png', 306px, 306px);
          width: 306px;
          height: 306px;
          background-repeat: no-repeat;
        }
      }
    }
    // combined styles
    .left, .right {
      width: 50%;
      .container {
        max-height: 1000px;
        max-width: 600px;
        width: 60%;
        .photo {
          display: block;
          margin: 50px auto;
        }
        h3 {
          .h3 (@graytext);
          text-align: center;
        }
      }
    }
  }


  // FORTY-FIVE TRIAL
  .fortyfive-trial {
    .clearfix ();
    .forty-five-trial ();
    .container {
      max-width: 500px;
      width: 50%;
      margin: 0 auto;
      h1 {
        .h1 (@white);
        text-align: center;
      }
      p {
        color: @white;
        text-align: center;
      }
      .button {
        margin: 30px 0;
        text-align: center;
        a {
          .transition (opacity);
          color: @white;
          padding: 10px 30px;
          margin-top: 50px;
          background-color: @salmon;
          font-weight: 600;
          &:hover {
            opacity: .6;
            .transition (opacity);
          }
        }
      }
    }
  }


  // FOOTER
  .footer {
    .footer ();
  }



  @media screen and (max-width: 1200px) {
    // fits background image to size of div
    .chart {
      height: 529px;
      background-size: auto;
    }
  }



  @media screen and (max-width: 1000px) {
    .hero {
      .clearfix ();
      height: auto;
      .container {
        .clearfix ();
        h1 {
          font-size: 2em;
          padding: 0 20px;
        }
        .left {
          .clearfix ();
          background-image: none;
          height: auto;
          margin-top: 30px;
          .mobile {
            .fadein-animation (2s);
            display: block;
            float: none;
            margin: 0 auto;
            height: 180px;
            width: auto;
          }
        }
        .right {
          top: 0;
          width: 90%;
          display: block;
          margin: 0 auto;
          position: relative;
          margin-bottom: 50px;
          .point {
            h3 {
              font-size: 1.3em;
            }
            p {
              font-size: .9em;
              line-height: 1.6;
            }
          }
        }
      }
    }


    // CALL TO ACTION
    .call-to-action {
      p {
        font-size: .85em;
      }
      .button-row {
        margin-top: 20px;
        .button {
          &.left {
            a {
              padding: 20px 20px;
              &:hover {
                opacity: 1;
              }
            }
          }
          &.right {
            a {
              padding: 20px 30px;
              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }



    // TWO POINTS
    .two-points {
      .container {
        .clearfix ();
        width: 90%;
        .left {
          width: 100%;
          margin-bottom: 0px;
          .american-icon {
            margin-top: 30px;
          }
          h3 {
            font-size: 1.3em;
          }
          p {
            font-size: .85em;
            line-height: 1.6;
          }
        }
        .right {
          width: 100%;
          margin-bottom: 0px;
          .sleep-icon {
            margin: 30px 0 0 30px;
          }
          h3 {
            font-size: 1.3em;
            margin-left: 50px;
          }
          p {
            font-size: .85em;
            line-height: 1.6;
            margin-left: 50px;
          }
        }
      }
    }



    // CHART
    .chart {
      background-size: auto;
      .container {
        width: 100%;
        table {
          width: 100%;
        }
      }
    }



    // COMPARE SECTION
    .compare-section {
      .clearfix ();
      .container {
        width: 90%;
        p {
          font-size: .85em;
          line-height: 1.6;
        }
      }
      .plus {
        display: none;
      }
      .left {
        width: 100%;
        .container {
          float: none;
          width: 80%;
          padding: 50px 0;
          margin: 0 auto;
        }
      }
      .right {
        width: 100%;
        .container {
          float: none;
          width: 80%;
          padding: 50px 0;
          margin: 0 auto;
        }
      }
    }




    // FORTYFIVE TRIAL
    .fortyfive-trial {
      .container {
        padding: 70px 0;
        width: 80%;
        .button {
          a {
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }









    // FOOTER
    .footer {
      display: none;
    }




  } //media




}